[2019-07-21 19:20] camilamaia opened #4 "Implement Query Params"
Similar to `headers` implementation

[code]

[2019-07-21 19:21] camilamaia opened #5 "Implement POST requests"

[2019-07-21 19:22] camilamaia opened #6 "Implement PUT requests"

[2019-07-21 19:22] camilamaia opened #7 "Implement DELETE requests"

[2019-07-21 19:24] camilamaia opened #8 "Add package to PIP"

[2019-07-21 19:24] camilamaia opened #9 "Add package to brew"

[2019-07-21 19:25] camilamaia opened #10 "Enable to have API spec in multiples files"
Enable to have API spec in multiples files using an `include` syntax.

[2019-07-21 19:26] camilamaia opened #11 "Create Expected Assertions for Requests"
A assertions.yaml with some assertions for each request.

for example, `posts_list_all` must have:
* x Length?
* this Structure?
* which type of data for each field?

Tasks:
- [ ] define a format for it
- [ ] implement how to run the assertions

in the future, we can create alerts when the assertions fails

[2019-07-21 19:30] camilamaia opened #12 "Create ScanAPI spec from an OpenAPI specification"
## Create ScanAPI spec from an OpenAPI specification

Create a command that converts an OpenAPI specification file into a ScanAPI specification file.
OpenAPI Specification: https://swagger.io/specification/

For that, we need to create a new [Click](https://click.palletsprojects.com/en/7.x/) command called `convert` in the [`__main__.py`](https://github.com/scanapi/scanapi/blob/master/scanapi/__ma

[2019-07-21 19:32] camilamaia opened #13 "Implement Cases"
[code]

[2019-07-21 19:35] camilamaia opened #14 "Improve Tests Coverage"
## Description

Make coverage > 90% for each file. You can find the current % for each file here: https://codecov.io/gh/scanapi/scanapi/tree/master/scanapi

[2019-07-21 19:37] camilamaia opened #15 "Generate docs in html or at least make the current less ugly"
Current the format is markdown.

[2019-07-25 15:24] camilamaia commented on #8
closed by #18

[2019-07-25 15:24] #8 closed

[2019-08-01 13:08] #4 closed

[2019-08-01 19:10] #5 closed

[2019-08-02 13:54] camilamaia opened #25 "Add Logging"
- [ ] Add logs
- [ ] Change prints to logs
- [ ] Create a --debug option to more detailed logs too.

https://realpython.com/python-logging/
https://www.loggly.com/ultimate-guide/python-logging-basics/

[2019-08-02 13:59] camilamaia commented on #9
Pip is good enough for now

[2019-08-02 13:59] #9 closed

[2019-08-02 14:14] camilamaia opened #26 "Add example request command in the generated report"
Something similar to the right column in the post docs:

![image](https://user-images.githubusercontent.com/2728804/62376237-9417b380-b516-11e9-89ba-76276430f486.png)

Starting with `curl` is good enough 👍

[2019-08-06 12:20] camilamaia commented on #7
closed by https://github.com/camilamaia/scanapi/pull/30

[2019-08-06 12:20] #7 closed

[2019-08-06 12:35] camilamaia opened #31 "Hide tokens and authorization info in the generated report"
## Description

Add the possibility to hide tokens and authorization info in the generated report to avoid expose sensitive information via [configuration file](https://github.com/scanapi/scanapi/blob/124983ca0365e4552f7ad56a6f9523a829c6c293/scanapi/settings.py#L5) (usually `.scanapi.yaml`).

Change the sensitive information value to `<sensitive_information>`

Configuration Options:
- `report`
--

[2019-08-06 12:37] camilamaia opened #32 "Add coverage report tool"
Add coverage report tool: [codecov](https://codecov.io)

[2019-08-06 12:44] camilamaia opened #33 "Print the endpoint and the request names in the generated reports"
Print request ID in the generated documentation. Something like:

[code]

[2019-08-06 14:07] camilamaia opened #35 "Add a CI tool"
Add a CI tool: https://circleci.com

https://circleci.com/setup-project/gh/camilamaia/scanapi

[2019-08-06 18:09] #6 closed

[2019-08-06 18:23] camilamaia opened #36 "Deploying to PyPI with Github Actions"
Deploying to PyPI with GitHub Actions:
https://packaging.python.org/guides/publishing-package-distribution-releases-using-github-actions-ci-cd-workflows/

[2019-08-06 23:06] #25 closed

[2019-08-12 15:14] camilamaia opened #42 "Implement env vars properly"
Stop declaring the env vars on scanapi.yaml file and start getting these variables in fact from the env.

[2019-08-14 18:39] #42 closed

[2019-08-15 13:36] camilamaia opened #44 "Create a Makefile"
Create a Makefile with the following commands:

- [ ] Install
- [ ] Test

[2019-10-09 15:11] barbosa commented on #15
Jinja would be a good candidate here. For both Markdown and HTML.

It also could be an option for the CLI like `--report markdown` or `--report html`.

And in the future, have a even more flexible para like `--template my_beautiful_page.html` where developers can use whatever they want + CSS 💄.

[2019-10-09 15:27] camilamaia opened #47 "Set the version on pyproject.toml automatically"
## Description

Set [the version on pyproject.toml file](https://github.com/scanapi/scanapi/blob/master/pyproject.toml#L3) automatically. We want to avoid to manually [bump the version](https://github.com/scanapi/scanapi/pull/212/files#diff-522adf759addbd3b193c74ca85243f7dR3) for each release PR.

Maybe this would be a good candidate: https://github.com/mtkennerly/poetry-dynamic-versioning. It nee

[2019-10-12 14:37] barbosa opened #48 "VSCode extension for ScanAPI IntelliSense"
Given that ScanAPI already has a predefined yml structure, we could have a VSCode extension that autocompletes keys (`endpoints`,  `method`, `path`, etc) based on where you are in the spec tree.

This would require further investigation to see what can be achieved but the following links should give some clarity:

- https://code.visualstudio.com/api/language-extensions/overview
- https://code.visu

[2019-10-14 15:31] #35 closed

[2019-10-14 16:00] #32 closed

[2019-10-14 20:20] camilamaia opened #51 "Stop using eval to evaluate python code on API specification"
Currently we are evaluating python code from API specification `${{ code }}` using eval:

https://github.com/scanapi/scanapi/blob/124983ca0365e4552f7ad56a6f9523a829c6c293/scanapi/evaluators/code_evaluator.py#L62

We must use a safer and more elegant solution. I am out of ideas here.

- Templates (like jinja) don't work because we need to evaluate dynamically the python code while the requests are

[2019-10-14 20:45] camilamaia commented on #11
Format Suggestion:
[code]

How to do that?

Run, for each request node, assertions and generate a `test result` object for it.
After all, we can generate a jUnit report, or similar, passing thorough each test result.

[2019-11-02 12:31] barbosa commented on #15
- [ ] Make DocsWriter abstract
- [ ] Create a MarkdownWriter based on the current code
- [ ] Create a ConsoleWriter (for debugging purposes)
- [ ] Create a JSONWriter (that could be used for Markdown and HTML)
- [ ] Create a HTMLWriter: `scanapi -f schema.yml --writer=html --template=bla.html`

[2019-11-04 16:43] camilamaia opened #57 "Add response time to report"
To let the user know how log each response took:

https://stackoverflow.com/questions/43252542/how-to-measure-server-response-time-for-python-requests-post-request/43260678#43260678

- [ ] Add response time to Markdown default template
- [ ] Add response time to HTML default template
- [ ] Add response time to Console default template

[2019-11-04 23:56] barbosa opened #58 "Add ability to use custom templates"
related to #15

[2019-11-04 23:58] barbosa opened #59 "Make console report pretty"

[2019-11-04 23:59] barbosa opened #60 "Make markdown report pretty"
💄

[2019-11-04 23:59] barbosa opened #61 "Make html report pretty"
💄

- [ ] Show only path_url in the titles
- [ ] Add response and request headers
- [ ] Add request headers and body
- [ ] Add response headers, metada and body
- [ ] Add cURL
- [ ] Add response time

[2019-11-05 00:01] barbosa commented on #15
@camilamaia I've broken this down to #58, #59, #60 and #61. Do you think we can close this then?

[2019-11-05 00:06] camilamaia commented on #15
Sure! I will do that

[2019-11-05 00:06] #15 closed

[2019-11-05 10:20] camilamaia opened #62 "Generate automated documentation from docstrings"
Generate automated code documentation from the [docstrings](https://www.datacamp.com/community/tutorials/docstrings-python).

https://wiki.python.org/moin/DocumentationTools
https://www.sphinx-doc.org/en/master/

[2019-11-05 18:20] camilamaia opened #63 "Refactor on evaluation process"
Dynamic and Static evaluations are mixed. Also we call evaluate from a lot of different parts of the code. This makes things hard to debug and to undestand

https://github.com/camilamaia/scanapi/blob/master/scanapi/variable_parser.py

https://github.com/camilamaia/scanapi/blob/master/scanapi/tree/request_node.py#L19-L26
https://github.com/camilamaia/scanapi/blob/master/scanapi/tree/request_node.py

[2019-11-05 18:27] camilamaia opened #64 "Validate mandatory keys for API spec"
## Description

We need to ensure that API spec has some mandatories keys in order to work properly.

The first mandatory key that need to be checked is the key `api`. The specification should start with it.
https://github.com/scanapi/scanapi/blob/master/scanapi/__init__.py#L68

Under the key `endpoints`, we need to ensure each entry has **at least** a `name` and a `requests` key
https://github.co

[2019-11-05 20:18] camilamaia commented on #51
Maybe, using jq instead of python code in the spec would be a solution:

https://stedolan.github.io/jq/tutorial/
https://github.com/mwilliamson/jq.py

Change `#{{python code}}` to `#{{jq string query}}`

[2019-11-15 18:27] camilamaia opened #66 "Hide sensitive info from headers is not working"
## Description
After the refactor on the reporter templates, hide sensitive info from headers is not working. It shows the real data instead of `"<sensitive information>"`

## How to reproduce

Create a config file `.scanapi.yaml` with the content:
[code]

Run scanapi with this config file and set an Authorization header inside the api specification:

[code]

The word `token123` will appear in the

[2019-11-17 20:03] camilamaia commented on #63
closed by: https://github.com/camilamaia/scanapi/pull/68 https://github.com/camilamaia/scanapi/pull/67

[2019-11-17 20:03] #63 closed

[2019-11-18 13:50] camilamaia opened #69 "Create a ScanAPI Tutorial"
To teach with examples how to use the ScanAPI.

Similar to:

- https://docs.djangoproject.com/en/2.2/intro/tutorial01/
- https://www.guru99.com/pytest-tutorial.html

[2019-11-18 22:23] camilamaia opened #70 "Add Factory Boy"

[2019-12-02 23:06] #70 closed

[2019-12-11 18:50] barbosa commented on #66
oops 😬

[2019-12-13 15:34] #66 closed

[2019-12-14 12:31] camilamaia opened #75 "Considering any variable that has at least one upper case letter as env var"
## Problem
If we define a var containing an upper case letter, like:
[code]

and we try to use it later as `${apiKey}` it will raise the error:

[code]

## Possible Solution

To check if there is any lower case in the word here:

https://github.com/camilamaia/scanapi/blob/master/scanapi/evaluators/string_evaluator.py#L48

[code]

[2019-12-15 09:58] dubirajara opened #77 "Allow PATCH HTTP Method"
Hi, I see that HTTP requests PATCH method are not implemented, for any particular reason?

Thank you.
Congratulations on the project, it is a great idea. 👌

[2019-12-16 12:25] camilamaia commented on #77
Hi @dubirajara, thank you very much for the feedback! 😍

The reason is lack of time 😅 . In theory I believe it would work with `PATCH`, cause we use a generic `.request` method to call the requests:

https://github.com/camilamaia/scanapi/blob/master/scanapi/requests_maker.py#L38

I did not add it to the doc because it would be better to check if it works properly indeed and also to create tests.

[2019-12-16 12:26] camilamaia commented on #77
And BTW, thank you for creating the issue! @dubirajara

[2019-12-16 13:49] camilamaia opened #78 "`scanapi-report-example.png` not loading on PyPi description"
## Description

At [PyPi page desccription](https://pypi.org/project/scanapi/0.0.15/) the image [scanapi-report-example.png](https://github.com/camilamaia/scanapi/blob/master/images/scanapi-report-example.png) is not loading

![image](https://user-images.githubusercontent.com/2728804/70911530-d71f8280-1ff0-11ea-8f56-85e65b4aec74.png)

This happens because it is being used the relative path to link

[2019-12-16 15:14] #78 closed

[2019-12-16 20:20] dubirajara commented on #77
Thank you very much @camilamaia , I will do tests and give you feedback.

[2019-12-18 17:06] dubirajara commented on #77
checked,  not works with PATCH:
`ERROR:scanapi.requests_builder:Error to make request `get_entity`. HTTP method not supported: PATCH. Supported methods: ('GET', 'POST', 'PUT', 'DELETE').`

I will do more tests and create a PR for it.

BTW, i tested with v0.0.14 versión, i had problem to run the command **scanapi** with actual version, this error:
[code]

thank you.

[2019-12-18 18:09] camilamaia opened #82 "No module named 'scanapi.tree'"
Error when running scanapi v0.0.15

[code]

[2019-12-18 18:13] camilamaia commented on #77
@dubirajara

First, about the problem running scanapi, I created a issue for it and I will investigate it ASAP: https://github.com/camilamaia/scanapi/issues/82

Regarding of the patch method, this message is showing because I added a verification here:
https://github.com/camilamaia/scanapi/blob/master/scanapi/requests_maker.py#L35. I wanted to ensure only tested methods were being using. You can r

[2019-12-18 18:19] #82 closed

[2019-12-18 20:52] camilamaia opened #84 "jinja2.exceptions.TemplateNotFound"
## Description

Error when running scanapi v0.0.16

[code]

[2019-12-18 21:09] #84 closed

[2019-12-18 21:16] camilamaia commented on #77
@dubirajara `ModuleNotFoundError` fixed, please use the version `0.0.17` 😉

[2019-12-20 20:01] camilamaia opened #88 "Add a changelog file"
## Description
Create a changelog file. More info at: https://keepachangelog.com/en/1.0.0/

[2019-12-20 20:04] camilamaia opened #89 "Add a changelog linter"
## Description
Configure a changelog linter. Maybe https://github.com/rcmachado/changelog

Related with: #88

[2019-12-25 16:24] rajarshig commented on #88
Created [PR](https://github.com/camilamaia/scanapi/pull/90). Kept the content as per my understanding, open to review!

[2019-12-31 14:43] camilamaia opened #91 "Add Black to Github Check or CI pipeline"
## Description

Add Black to Github Check or CI pipeline

[2019-12-31 15:18] camilamaia commented on #88
Closed by #90

[2019-12-31 15:18] #88 closed

[2019-12-31 16:10] #91 closed

[2019-12-31 16:36] #89 closed

[2020-01-02 13:42] camilamaia opened #94 "Alert if CHANGELOG.md was not updated"
## Description

When a PR is opened and the CHANGELOG.md was not modified, send an alert to remember to update it.

Possible to be implemented with:
- [Danger](https://github.com/danger/danger)
- [Peril](https://github.com/danger/peril)

Or, alternatively, to create a CircleCI check that fails when it is not updated.

[2020-01-06 14:59] camilamaia opened #97 "Update CONTRIBUTING.md"
## Description

Update CONTRIBUTING.md with:

- [ ] Instructions of how to create a release PR
- [ ] Instructions of how to deploy on docker hub with version tag

[2020-01-07 15:44] #97 closed

[2020-01-07 17:33] #75 closed

[2020-01-20 11:19] camilamaia opened #100 "Create a Logo"
Create a Logo for ScanAPI

Some References: https://docs.google.com/document/d/1b8djucd09fjzzfGDsRYEyKa8c7VDZBgFVwJBr9Y52h8/edit?usp=sharing

[2020-01-20 11:22] camilamaia opened #101 "Create a README.md Header"
Create a README header, something like:

![image](https://user-images.githubusercontent.com/2728804/72722742-d208a280-3b5d-11ea-9e9c-15b484a671a3.png)

https://github.com/barbosa/clorox

Some References: https://docs.google.com/document/d/1b8djucd09fjzzfGDsRYEyKa8c7VDZBgFVwJBr9Y52h8/edit?usp=sharing

[2020-01-20 11:34] camilamaia opened #103 "Show Request Body on Markdown Report"
Show Request Body, if it exists, on Markdown Report. Current it is showing only response body.

[2020-01-20 11:35] camilamaia commented on #60
- [ ] Show the JSONs properly formatted

[2020-01-20 12:12] camilamaia opened #104 "Improve Error Message for Invalid Python code error"
Current, when there is an error when executing a command inside the python code tag `${{ }}`, this is the message:

[code]

We should improve it to show precisely which error happened.

[2020-01-20 12:27] camilamaia opened #105 "Report must be generated even if there is an Invalid Python Code error"
## Description

ScanAPI report should be generated even if an Invalid Python Code error happens. It would help debugging.

[2020-01-20 12:29] camilamaia opened #106 "ScanAPI should break when an Invalid Python Code error happens"
## Description

ScanAPI should break when an Invalid Python Code error happens - after generating the report. It should summarise and show all the errors that happened.

https://github.com/pytest-dev/pytest/blob/83891d9022076375cede03bfd8c932d450e6fcf8/src/_pytest/config/__init__.py#L67

[2020-02-02 17:13] camilamaia opened #108 "Draw Diagrams"
## Description

Draw Diagrams and make they available in the [New Comers Guide](https://github.com/scanapi/scanapi/wiki/Newcomers)

- [ ] Class
- [ ] Sequence

[2020-02-03 20:33] camilamaia commented on #100
https://drive.google.com/drive/folders/1dJx_8FrRBJNhsbzeRUt5QW3XSiVxpv3a?usp=sharing

[2020-02-03 20:36] #100 closed

[2020-02-08 14:15] dubirajara commented on #77
i tested a lot with this method, but not create tests. https://github.com/scanapi/scanapi/pull/113
I have seen that there are no tests for put, post or delete methods.

Thanks for your work.

[2020-02-10 13:56] camilamaia commented on #77
No problem, I can add test for PATCH when I add for the others. Thank you very much for the contribution!

[2020-02-12 14:06] camilamaia commented on #77
Closed by #113

[2020-02-12 14:06] #77 closed

[2020-02-29 14:01] #101 closed

[2020-03-18 17:25] camilamaia opened #115 "Add Bandit library"
## Description

Add [Bandit](https://bandit.readthedocs.io/en/latest/) or similar.

[2020-03-22 20:38] #60 closed

[2020-04-21 16:58] camilamaia opened #117 "Create ScanAPI Github Action"
## Description

Create a Github Action for ScanAPI to make integrations easier. We already have a [docker image](https://github.com/scanapi/scanapi/blob/master/Dockerfile#L3) for it.

https://help.github.com/en/actions/building-actions/creating-a-docker-container-action

With this action we want to:

- Be able to use `scanapi` commands with args and options. i.e: `scanapi api.yaml`, `scanapi --hel

[2020-04-21 17:27] camilamaia opened #118 "Bug: Extra lines on headers tables of Markdown Template"
## Description

Template is generating extra lines on headers tables of Markdown Template

## It is generating

| Header    | Value       |
|-----------|-------------|

| User-Agent | python-requests/2.23.0 |

| Accept-Encoding | gzip, deflate |

| Accept | */* |

| Connection | keep-alive |

| Content-Length | 2 |

| Content-Type | application/json |

## When it should generate

| Header    | Val

[2020-04-21 17:56] barbosa commented on #118
@camilamaia this should do the trick:

https://jinja.palletsprojects.com/en/master/templates/#whitespace-control

[2020-04-21 18:00] barbosa commented on #118
or maybe simply (need to double check):

[code]

[2020-04-21 18:30] #118 closed

[2020-04-22 23:09] #26 closed

[2020-04-23 10:43] camilamaia opened #122 "Create a CLI option to pass a configuration file path"
## Description

Create a CLI option to pass a configuration file path. Something like:

[code]

Current this file is called `SETTINGS_FILE`:
https://github.com/scanapi/scanapi/blob/f27b031aa2f1fb4e9c85957e2c059733fabe69b8/scanapi/settings.py#L5

Here is where we add new arguments to the CLI:
https://github.com/scanapi/scanapi/blob/f27b031aa2f1fb4e9c85957e2c059733fabe69b8/scanapi/__init__.py#L13

[2020-04-23 10:49] camilamaia opened #123 "Fix error message when spec file was not found"
## Description

When no argument is sent and api.yaml was no found it shows:

[code]

When it should say something like:

[code]

[2020-04-23 14:38] camilamaia commented on #10
https://gist.github.com/joshbode/569627ced3076931b02f

[2020-05-01 21:53] camilamaia opened #124 "Add API spec JSON compatibility to README.md"
## Description

Since we are using PyYAML to load yaml files, we figured out it already loads JSON files too. We just need to add this info to the README.md file.

[2020-05-05 13:18] camilamaia commented on #103
Closed by https://github.com/scanapi/scanapi/pull/120

[2020-05-05 13:18] #103 closed

[2020-05-05 17:37] #10 closed

[2020-05-05 17:37] #124 closed

[2020-05-08 12:29] camilamaia opened #129 "Fix Changelog Lint Job"
## Description

Fix Changelog Lint Job

https://app.circleci.com/pipelines/github/scanapi/scanapi/198/workflows/f1278c78-b8c1-477a-bbfb-4a9388e6a8b3/jobs/391/parallel-runs/0/steps/0-102

![image](https://user-images.githubusercontent.com/2728804/81405620-69decc00-910e-11ea-836a-9d1bd284c549.png)

[2020-05-08 12:40] camilamaia opened #130 "Add CLI options explanation"
## Description

To add explanations to each option. To tell the user what the option is for. Exactly how `help` has: `Show this message and exit.`

[code]

Options:

- [ ] --spec-path
- [ ] --output-path
- [ ] --config-path
- [ ] --reporter
- [ ] --template
- [ ] --log-level

[2020-05-09 16:46] #122 closed

[2020-05-09 16:46] #123 closed

[2020-05-09 16:49] barbosa commented on #130
I came to the issues list to add this very same issue when I saw you've already done it 🔮

[2020-05-09 16:53] barbosa commented on #130
For reference: https://click.palletsprojects.com/en/7.x/documentation/#help-texts

[2020-05-10 00:10] barbosa commented on #94
https://github.com/marketplace/actions/changelog-reminder

[2020-05-10 00:14] #58 closed

[2020-05-10 00:19] camilamaia opened #131 "Refactor Settings Tests to mock file opening"
## Description

We are opening the file, like here: https://github.com/scanapi/scanapi/blob/master/tests/unit/test_settings.py#L91

where we should mock it, like this:

https://github.com/scanapi/scanapi/blob/master/tests/unit/test_reporter.py#L38

[2020-05-10 00:21] camilamaia opened #132 "Define how to handle console report"
## Description

- How can we know if user wants to print the custom template in the terminal or have it in a file.
- template and report options can be sent together?

[2020-05-10 00:23] camilamaia opened #133 "Templates Marketplace"
## Description

Add a section to README.md with examples of report templates and asking for people to send their templates.

Something like danger's plugins section: https://danger.systems/ruby/

![image](https://user-images.githubusercontent.com/2728804/81488133-47969c80-923b-11ea-9992-fd508968e3fe.png)

[2020-05-10 23:48] #94 closed

[2020-05-11 12:15] camilamaia opened #137 "Move from CircleCI to GitHub Actions"
## Description

Move from CircleCI to GitHub Actions

- [x] Check Black
- [ ] Changelog Lint
- [x] Run tests
- [x] Upload coverage report to codecov.io

[CircleCI current config](https://github.com/scanapi/scanapi/blob/master/.circleci/config.yml#L63-L65)
[Github Actions config](https://github.com/scanapi/scanapi/tree/master/.github/workflows)

[2020-05-11 12:18] camilamaia opened #138 "Move Check Black from CircleCI to GitHub Actions"
## Description

Move Check Black from CircleCI to GitHub Actions

[CircleCI current config](https://github.com/scanapi/scanapi/blob/master/.circleci/config.yml#L63-L65)
[Github Actions config](https://github.com/scanapi/scanapi/tree/master/.github/workflows)

Child of #137

[2020-05-11 12:19] camilamaia opened #139 "Move Changelog Lint from CircleCI to GitHub Actions"
## Description

We want to use only one CI solution for the project. Currently, we use both CircleCI and GitHub Actions.

This issue is to move [Changelog Lint job](https://github.com/scanapi/scanapi/blob/main/.circleci/config.yml#L10) from CircleCI to [GitHub Actions](https://github.com/features/actions). This is the only job missing to finish the migration from CircleCI to GitHub Actions.

Curre

[2020-05-11 12:19] camilamaia opened #140 "Move Run tests from CircleCI to GitHub Actions"
## Description

Move Run tests from CircleCI to GitHub Actions

[CircleCI current config](https://github.com/scanapi/scanapi/blob/master/.circleci/config.yml#L63-L65)
[Github Actions config](https://github.com/scanapi/scanapi/tree/master/.github/workflows)

Child of #137

[2020-05-11 12:20] camilamaia opened #141 "Move `Upload coverage report to codecov.io` from CircleCI to GitHub Actions"
## Description

Move `Upload coverage report to codecov.io` from CircleCI to GitHub Actions

[CircleCI current config](https://github.com/scanapi/scanapi/blob/master/.circleci/config.yml#L63-L65)
[Github Actions config](https://github.com/scanapi/scanapi/tree/master/.github/workflows)

Child of #137

[2020-05-11 13:06] barbosa commented on #138
closed by #136

[2020-05-11 13:06] #138 closed

[2020-05-11 23:32] camilamaia commented on #141
For reference https://github.com/codecov/codecov-action

[2020-05-14 13:24] #36 closed

[2020-05-14 16:01] camilamaia opened #146 "Github Action: Publish to Test PyPI step"
## Description

We are already have a [github action](https://github.com/scanapi/scanapi/blob/master/.github/workflows/publish-to-pypi.yml) to publish the released version to PyPI automatically.

But It would be nice to also have a step before it, publishing it to the Test PyPI (see discussion: https://github.com/scanapi/scanapi/pull/144#discussion_r425173742)

[2020-05-18 20:10] camilamaia commented on #64
Closed by https://github.com/scanapi/scanapi/pull/147

[2020-05-18 20:10] #64 closed

[2020-05-21 22:46] camilamaia opened #148 "Github Action to tweet alerting a new release"
## Description
Github Action to tweet alerting new release

Twitter account: [@ScanAPI_](https://twitter.com/scanapi_)
We already have the dev account set up. Just need to bring the configuration to the github environment.

Similar to this:

![image](https://user-images.githubusercontent.com/2728804/88456049-fe74e280-ce50-11ea-842d-fdf079ca17f6.png)
https://twitter.com/dangersystems/status/1258047

[2020-05-24 16:19] marcuxyz opened #150 "Change pip to Poetry"
Maybe will fine if we change of pip to poetry. It, many features look like nice. as:

- Poetry publish for publish package on pypi.
- Separate Dev dependencies of production dependencies.
- Package validation
- Scripts to iterage with code
- etc...

https://python-poetry.org/

[2020-05-24 19:44] camilamaia opened #153 "GitHub Action to run ScanAPI on scanapi-examples"
## Description

Create a GitHub action that runs ScanAPI on [scanapi-examples](https://github.com/scanapi/scanapi-examples) to ensure nothing will break. Also to automatically update the examples.

### What this github action should do

When it is a pull request:
- Run scanapi with [demo-api spec file](https://github.com/scanapi/examples/blob/master/demo-api/api.yaml)
- Show a preview of the scana

[2020-05-28 22:49] camilamaia commented on #129
https://app.circleci.com/pipelines/github/scanapi/scanapi/259/workflows/c2c3cab4-ea19-45bc-acf6-783e1b03f3a2/jobs/526/steps

[2020-06-02 14:31] #11 closed

[2020-06-02 15:12] camilamaia commented on #129
Closed by: https://github.com/rcmachado/changelog/pull/73

[2020-06-02 15:12] #129 closed

[2020-06-02 21:21] camilamaia commented on #13
We can append this "case" to the name and nesting requests

[2020-06-02 21:21] #13 closed

[2020-06-02 22:43] camilamaia commented on #132
I came up with this structure:

Every time ScanAPI runs, it generates:
- Console Logs (Writing doc, making request x, making request y...)
- A console report
- An output file containing the html report (usually `scanapi-report.html`)

Besides the extra flags:

- `--output-path` to rename the output file. To use another path instead of the default `scanapi-report.html`

- `--reporter` with the opti

[2020-06-02 22:53] camilamaia opened #156 "Document testing feature"
Add document [testing feature](https://github.com/scanapi/scanapi/pull/152) to README.md

[2020-06-03 18:00] barbosa commented on #132
I like the shape this conversation is turning into.

I believe the main issue here is that we were mixing 2 different concepts into 1: debugging (console printing) and execution (report file generation).

For the sake of simplicity, on top of what you said, I would suggest:

1. Remove the `console` report and its template as an option. This would allow us to remove many pieces of code where we che

[2020-06-04 19:48] camilamaia opened #158 "Document `project-name` configuration"
Add `project-name` configuration to the README.md

[2020-06-04 19:49] camilamaia opened #159 "Change HTML report to default"
Change HTML report to default. Current it is markdown, but HTML is way more popular and our html report is [beautiful](https://github.com/scanapi/scanapi/pull/157) now

Here is where we need to change it: https://github.com/scanapi/scanapi/blob/master/scanapi/settings.py#L11

[2020-06-04 20:02] camilamaia commented on #132
@barbosa I strongly agree with you. My solution was thought in a way to make things more flexible. But we don't know if this is indeed a need. So let me just recap with you:

- We will remove the console report at all

The related flags will be:

- `--output-path` to rename the output file. To use another path instead of the default `scanapi-report.html`

- `--reporter` with the options `html` and

[2020-06-04 20:09] camilamaia opened #160 "Add "Credit" section to the documentation"
To thank [Samuel](http://somewell.com.br/) for designing the logo and to thank all contributors ❤️

[2020-06-04 20:12] barbosa commented on #132
@camilamaia sounds like a plan. If we want to bring console printing back, I'd do that by having a `--verbose` option.

[2020-06-04 20:17] camilamaia opened #161 "ADR 2: How to show test results in the html report"
## Architecture Decision Review - ADR

- How are we going to show the tests in the html report
- Which color should we use?
- How are we going to show each test case?
- How are we going to show if a test passed?
- How are we going to show if a test failed?
- Should we use HTTP methods with color? Yes or No?

This discussion started [here](https://github.com/scanapi/scanapi/pull/157#pullrequestrevi

[2020-06-04 20:35] camilamaia commented on #132
Perfect, sounds good to me!

[2020-06-04 20:42] camilamaia opened #162 "Remove "inline" CSS from html report."
Remove "inline" CSS from html report. Maybe using amazon s3 to store the stylesheets. We need to consider versioning.

[2020-06-04 20:46] camilamaia opened #163 "Update the report screenshot in the README.md"
Update the report screenshot in the README.md. We should use a screenshot of the [new html report](https://github.com/scanapi/scanapi/pull/157).

We need to change this:
![image](https://user-images.githubusercontent.com/2728804/83808504-46665d00-a68b-11ea-87c3-1f8a60955936.png)

To this [this](https://github.com/scanapi/scanapi/pull/157#issuecomment-639060555).

[2020-06-04 20:49] camilamaia opened #164 "ADR 3: How to show test results in the markdown report"
## Architecture Decision Review - ADR

- How are we going to show the tests in the markdown report
- How are we going to show each test case?
- How are we going to show if a test passed?
- How are we going to show if a test failed?

This discussion started [here](https://github.com/scanapi/scanapi/pull/157#pullrequestreview-424762095)

Related ADR: #161

[2020-06-04 20:51] #61 closed

[2020-06-04 21:00] camilamaia opened #165 "Remove `APIKeyMissingError`"
Remove `APIKeyMissingError`. We are not using it anymore, we are using `MissingMandatoryKeyError` instead.

We only need to delete [it](https://github.com/scanapi/scanapi/blob/master/scanapi/errors.py#L15-L20)

[code]

[2020-06-04 21:03] camilamaia opened #166 "Remove old images"
Remove:

- https://github.com/scanapi/scanapi/blob/master/images/overview.png
- https://github.com/scanapi/scanapi/blob/master/images/scanapi-report-example.png

We are not using them anymore. We should have the html report screenshot mentioned [here](https://github.com/scanapi/scanapi/issues/163) in this folder.

[2020-06-04 21:07] camilamaia opened #167 "Show the tests results in the html report"
Show the tests results in the html report. Show if each test case passed or failed in the html reports

[2020-06-04 21:08] camilamaia opened #168 "Show the tests results in the markdown report"
Show the tests results in the html report. Show if each test case passed or failed in the markdown reports

[2020-06-04 21:10] camilamaia opened #169 "Show a tests summary in the HTML report"
Show a tests summary in the HTML report.

- How many tests passed
- How many tests failed
- How many tests crashed
- How long it took to run all tests

[2020-06-04 21:10] camilamaia opened #170 "Show a tests summary in the Markdown report"
Show a tests summary in the Markdown report.

- How many tests passed
- How many tests failed
- How many tests crashed
- How long it took to run all tests

[2020-06-06 22:55] camilamaia opened #171 "Change -s option to make it as an argument"
Instead of `scanapi -s path_to_spec`, it could be directly `scanapi path_to_spec`

cc @gillianomenezes 😁

[2020-06-10 13:17] camilamaia opened #174 "Remove console report"
Remove console report

Decided at https://github.com/scanapi/scanapi/issues/132

[2020-06-12 21:29] #159 closed

[2020-06-13 16:46] camilamaia opened #176 "ADR 4: Remove Markdown Reporter"
## Architecture Decision Review - ADR

Based on the discussion we had in the #132, I have one suggestion.

Suggestion:

- Remove markdown template for the main ScanAPI repository.
- Remove the flag "--reporter". Only html default report will be available.
- Create a new repo `scanapi/report-templates` and add markdown to it.
- In the `report-templates` we can manage to accept others templates from

[2020-06-13 20:18] barbosa commented on #176
@camilamaia I agree with taking it out and keeping HTML is the sole option. A markdown report could be generated without much effort by whoever is using the library.

About having a repo to store templates, I like the idea too. We just need to think a bit more about how this would be displayed. A simple list of files and folders in a GitHub repo won't be enough, I think.

Maybe we should define a

[2020-06-14 17:34] camilamaia commented on #176
@barbosa I love the idea and I totally agree with it.

Another option would be to let users have their jinja files in their own repos. We would need only a repo link instead of the jinja template itself. More or less like danger plugins.

But I would say I prefer your option. Just bringing another one to let us think...

[2020-06-14 17:39] camilamaia opened #178 "Remove Markdown Reporter and `--reporter` option"
Please, check the full suggestion and discussion of this decision at https://github.com/scanapi/scanapi/issues/176

- Remove markdown template for the main ScanAPI repository.
- Remove the flag "--reporter". Only html default report will be available.
- Create a new repo scanapi/report-templates and add markdown to it.
- In the report-templates we can manage to accept others templates from the com

[2020-06-14 17:40] camilamaia commented on #164
Closed by decision https://github.com/scanapi/scanapi/issues/176

[2020-06-14 17:40] #164 closed

[2020-06-14 17:41] camilamaia commented on #168
Closed by decision https://github.com/scanapi/scanapi/issues/176

[2020-06-14 17:41] #168 closed

[2020-06-14 17:41] camilamaia commented on #170
Closed by decision https://github.com/scanapi/scanapi/issues/176

[2020-06-14 17:41] #170 closed

[2020-06-16 20:15] #174 closed

[2020-06-16 20:15] #171 closed

[2020-06-16 20:20] #178 closed

[2020-06-17 16:40] camilamaia opened #181 "Duplicated row `status code` on Report"
Duplicated row `status code` on Report

![image](https://user-images.githubusercontent.com/2728804/84925248-0302ea00-b0a0-11ea-9ad3-2030fbbe396a.png)

[2020-06-17 16:42] camilamaia opened #182 "Sensitive info is empty on Report"
How it is:

![image](https://user-images.githubusercontent.com/2728804/84925402-35144c00-b0a0-11ea-80a8-d46c19f14a91.png)

How it should be:

![image](https://user-images.githubusercontent.com/2728804/84925467-4eb59380-b0a0-11ea-849a-d130961f9db1.png)

[2020-06-17 17:13] #181 closed

[2020-06-17 17:13] #182 closed

[2020-06-18 23:33] #176 closed

[2020-06-18 23:39] camilamaia commented on #161
I did some tests, they are all ugly 😂  But maybe we can get some ideas of what works and what doesn't work:

https://github.com/scanapi/scanapi/blob/adr2/testing_reports/version1.html
https://github.com/scanapi/scanapi/blob/adr2/testing_reports/version2.html
https://github.com/scanapi/scanapi/blob/adr2/testing_reports/version3.html
https://github.com/scanapi/scanapi/blob/adr2/testing_reports/versi

[2020-06-19 13:03] camilamaia commented on #161
Basically we have three different test status we need to show

1. The overview. If **all** tests passed. Or, if **any** test failed

![image](https://user-images.githubusercontent.com/2728804/85133428-0ec1ee00-b211-11ea-8a1c-e1ebc1bdf166.png)

If all tests passed, the test summary should, somehow, show that everything is ok and there is no need to check anything else. It is all green.

2. The Endp

[2020-06-19 13:18] djalmaaraujo commented on #161
@camilamaia @barbosa
Hey, that's a good discussion. Here's what I would prefer to see in this case:

- I would suggest red/green for the main status of the runner (PASSED/FAILED)
- One-color only for the HTTP methods. I am not sure if the different colors make sense for the report, to be honest. So maybe we could use BLUE (maybe) since blue is not a TRAFFIC color (red/green/yellow)
- For HTTP stat

[2020-06-19 13:39] camilamaia commented on #161
Versions with images:

## Version 1
![version1_closed](https://user-images.githubusercontent.com/2728804/85138260-dfaf7a80-b218-11ea-8406-ab67b962b6af.png)
![version1_opened](https://user-images.githubusercontent.com/2728804/85138265-e0e0a780-b218-11ea-8e8a-7b530d1e5a1c.png)

## Version 2
![version2_closed](https://user-images.githubusercontent.com/2728804/85138267-e1793e00-b218-11ea-8f24-19227da3

[2020-06-19 13:42] camilamaia opened #184 "ADR 5 How we should handle templates marketplace"
See https://github.com/scanapi/scanapi/issues/176#issuecomment-643673088

[2020-06-19 13:42] camilamaia commented on #176
@barbosa I've created a dedicated ADR to discuss it: https://github.com/scanapi/scanapi/issues/184

[2020-06-19 19:50] gillianomenezes commented on #161
I agree with this approach. IMHO the HTTP verbs in black bold seem better. This is why I vote in the  [first option](https://github.com/scanapi/scanapi/blob/adr2/testing_reports/version1.html), @camilamaia.

[2020-06-20 15:34] barbosa commented on #161
Yeah, I agree with this except for the last item. I believe color variation should be used for one thing and one thing only: indicate success or failure of test results.

I would keep both HTTP methods and status codes in black.

Mixing red/green in more than one context would cause confusion, I think.

[2020-06-21 17:51] #169 closed

[2020-06-21 17:51] #167 closed

[2020-06-21 18:34] camilamaia commented on #161
@djalmaaraujo @gillianomenezes and @barbosa, thank you very much for your feedback and opinions. Based on then, I created a new version. What do you think?

### Failed Closed
![failed-closed](https://user-images.githubusercontent.com/2728804/85232338-9441cb80-b3d4-11ea-85cf-b83462747793.png)

### Failed Opened
![failed-opened](https://user-images.githubusercontent.com/2728804/85232343-97d55280-b3d

[2020-06-22 20:03] camilamaia commented on #161
@djalmaaraujo give me some help! Look how it is now:

![passed](https://user-images.githubusercontent.com/2728804/85330168-3c759400-b4aa-11ea-9d39-683f42d41896.png)
![error-opened](https://user-images.githubusercontent.com/2728804/85330072-13ed9a00-b4aa-11ea-97d9-9865e47ce959.png)

[2020-06-22 21:38] #104 closed

[2020-06-22 21:38] #105 closed

[2020-06-22 21:38] #106 closed

[2020-06-24 17:44] camilamaia opened #188 "Add favicon to report"
Add favicon to report

How it is now
![image](https://user-images.githubusercontent.com/2728804/85605889-fe52ae80-b628-11ea-9367-ac01989552b3.png)

It should have the ScanAPI icon

https://github.com/scanapi/design/blob/master/images/icon-light.png

[2020-06-24 18:31] #31 closed

[2020-06-24 22:29] camilamaia commented on #161
@gillianomenezes and @barbosa can I close this ticket? Do you have any other opinions? Thanks!

[2020-06-25 00:38] barbosa commented on #188
🎨

[2020-06-25 00:40] barbosa commented on #161
<img width="184" alt="Screen Shot 2020-06-24 at 8 39 44 PM" src="https://user-images.githubusercontent.com/235208/85640841-e1cf6a00-b65a-11ea-937f-72b2860076c2.png">

it seems the icons are not vertically centered but we can fix this later

[2020-06-25 10:21] camilamaia commented on #161
Great catch 🔍 👀

[2020-06-25 10:23] camilamaia opened #190 "Status icons are not vertically centred in the Report"
Status icons are not vertically centred: https://github.com/scanapi/scanapi/issues/161#issuecomment-649146809

<img width="184" alt="Screen Shot 2020-06-24 at 8 39 44 PM" src="https://user-images.githubusercontent.com/235208/85640841-e1cf6a00-b65a-11ea-937f-72b2860076c2.png">

[2020-06-25 13:05] #130 closed

[2020-06-25 13:06] #163 closed

[2020-06-25 13:06] #166 closed

[2020-06-25 13:08] camilamaia commented on #158
Closed by https://github.com/scanapi/scanapi/pull/191

[2020-06-25 13:08] #158 closed

[2020-06-25 21:14] danielbom opened #196 "'Template not found' on basic usage"
When I run

[code]

I got the follow error message

[code]

Content in contracts.yaml file, seems correct

[code]

[2020-06-25 21:28] camilamaia commented on #196
Let me check it @danielbom! 👀

[2020-06-25 22:58] camilamaia commented on #196
@danielbom the github action to upload to PyPI seems not working as expected.

I did the release manually and it seems that is working now. Would you mind to reinstall and test it again, please? Sorry for the inconvenient.

[2020-06-25 23:19] joseterra commented on #196
@camilamaia

I test it at the moment and now it is working correctly.

Thanks!

[2020-06-25 23:21] camilamaia commented on #196
@joseterra  thank you very much! 🚀

[2020-06-25 23:21] #196 closed

[2020-06-25 23:29] camilamaia opened #201 "TemplateNotFound error when releasing with Gihub Action `publish-to-pypi.yml`"
When we publish ScanAPI to PyPI using the [GitHub Action](https://github.com/scanapi/scanapi/blob/master/.github/workflows/publish-to-pypi.yml), we are facing the following error (no matter the spec):

[code]

Examples:

Release 1.0.0: https://pypi.org/project/scanapi/1.0.0/#files
Release 1.0.1: https://pypi.org/project/scanapi/1.0.1/#files
Release 1.0.2 https://pypi.org/project/scanapi/1.0.2/#fil

[2020-06-25 23:30] camilamaia commented on #196
I've created a new issue to investigate better the github action issue: https://github.com/scanapi/scanapi/issues/201

[2020-06-25 23:57] danielbom commented on #196
I did, and works! Thanks.

[2020-06-26 02:21] abreumatheus commented on #190
I created a PR fixing this issue [#195] 😄

[2020-06-26 03:49] abreumatheus commented on #12
I started working on this. The main script is already done and working, i just need to integrate it into the main project and learn how to use Click to expose the CLI command.

You can check the current script [HERE](https://gist.github.com/abreumatheus/e10b13aea5747c959cb43cbe60917c21) .
Will be writing the tests and updating.

[2020-06-26 12:54] camilamaia commented on #196
thank you @danielbom !

[2020-06-26 15:06] camilamaia opened #202 "ADR 6: How to integrate feature that converts OpenAPI file to ScanAPI file"
## Architecture Decision Review - ADR

We want to implement the feature of receiving a JSON OpenAPI spec and convert it into a ScanAPI spec file.

[code]

Feature issue: https://github.com/scanapi/scanapi/issues/12

But we need to discuss how we will integrate it into the main project. Some options that came into my mind:

### Option 1

A new command like: `$ scanapi init OPENAPI_PATH`. And leave

[2020-06-26 15:10] camilamaia commented on #12
@abreumatheus wow, this was super fast! Let me test it! Thanks for the effort!

About the integration part, I've created an Architecture Decision Review (ADR) ticket to discuss it: https://github.com/scanapi/scanapi/issues/202. It would be awesome to hear your thoughts about it 🙂

[2020-06-26 15:11] #161 closed

[2020-06-26 20:53] barbosa commented on #190
Closed by #195

Thank you, @abreumatheus !

[2020-06-26 20:53] #190 closed

[2020-06-29 18:19] camilamaia opened #203 "Change config file default name"
Our default config path is `.scanapi.yaml`, which is not so explicit as it could.

https://github.com/scanapi/scanapi/blob/master/scanapi/settings.py#L5

Some other possibilities:

- scanapi.conf (like [redis](https://redis.io/topics/config), or [postgresql](https://www.postgresql.org/docs/9.3/config-setting.html))
- scanapi.init (like [pytest](https://docs.pytest.org/en/latest/customize.html))
-

[2020-06-29 18:24] camilamaia opened #204 "Change API spec file default name"
Current the default name for the API spec is `api.yaml`. One suggestions is to change it to something more common in the industry like `Scanfile` (similar to [Fastfile](https://docs.fastlane.tools/advanced/Fastfile/#fastfile) or [Dockerfile](https://docs.docker.com/engine/reference/builder/))

https://github.com/scanapi/scanapi/blob/master/scanapi/settings.py#L10

Besides we also need to:
- Update

[2020-06-30 12:55] camilamaia opened #205 "Render json content with indentation"
Current, when we render the json content of a response, it is missing indentation:

![image](https://user-images.githubusercontent.com/2728804/86128066-3ccbeb80-bab7-11ea-9033-b358d29aee51.png)

It would be better if we could render it like this:

[code]

[2020-06-30 14:33] djalmaaraujo commented on #202
@camilamaia From what I understood, this is a Developer UX problem. If you think about the person who is implementing this on their CI for example, the first thing they will try to do is read the documentation to put this to work as soon as possible.

My suggestion to avoid miss interpretation of the developer who is using scanapi is to use the same command as we use now, and internally if it's a

[2020-06-30 15:31] gillianomenezes commented on #202
To be able to use OpenAPI file is an awesome idea, @camilamaia! 🚀But if I understood the discussion here well, I think that running the scanapi to convert the openapi spec to the scanapi spec is gonna just add an extra step in the flow, as the user probably wants to create the scanapi report with the converted file anyway. Maybe if the scanapi accepts the json openapi as input to create the report

[2020-06-30 16:06] abreumatheus commented on #202
Yeah, in my opinion the best choice would be to just add a flag to the main
command, so it could accept a json file insteand of a yaml file. Maybe like
scanapi - - json JSON_FILE_PATH, or anything like it 😁.

On Tue, Jun 30, 2020, 12:32 Gilliano Menezes <notifications@github.com>
wrote:

[2020-06-30 16:45] camilamaia commented on #202
Hmmm I haven't thought about this idea 🤔 It makes sense....

I was thinking more in creating a `skeleton` of the ScanAPI spec. Because there is some information that we will not have in the openapi json. For example, the tests will not be there.

[code]

Also, we would no be able to chain the requests. Or how would we handle authentication? OpenAPI json would not contain credentials. We would loos

[2020-07-01 22:49] abreumatheus commented on #202
I put some thought into it and really makes more sense to give the user the converted YAML file, because it's obvious he will want to add the tests and everything else. So i would vote for a new argument like `scanapi generate JSON_FILE_PATH`.

[2020-07-06 23:56] barbosa commented on #202
Agreed this should be a generated boilerplate/skeleton. There's more stuff to be added afterward.

About the options, I'd go with 2. Having a `run` command makes it also more explicit (we could maybe make it the default option as well if needed).

And what do you think of using `convert` instead of `generate`? In the end, we are _converting_ an OpenAPI spec to a ScanAPI spec.

[2020-07-06 23:58] abreumatheus commented on #202
I agree with Gustavo on this. :)

On Mon, Jul 6, 2020, 20:57 Gustavo Barbosa <notifications@github.com> wrote:

[2020-07-07 12:37] camilamaia commented on #202
+1 to option 2 using `convert` instead of `generate`.

[2020-07-07 12:39] djalmaaraujo commented on #202
+1 for @barbosa idea and `convert` instead of generate.

[2020-07-07 12:46] camilamaia commented on #202
Ok, it seems we have a decision here. I updated the issue https://github.com/scanapi/scanapi/issues/12 with the new instructions and I will close this one, ok?

Let me know if you want to discuss anything else, so I can reopen it.

[2020-07-07 12:46] #202 closed

[2020-07-07 12:48] camilamaia commented on #12
I updated the ticket description according the decision made on [ADR 6: How to integrate feature that converts OpenAPI file to ScanAPI file](https://github.com/scanapi/scanapi/issues/202)

[2020-07-07 14:06] gillianomenezes commented on #202
+1 for @barbosa idea of using convert instead of `generate`.

[2020-07-07 22:14] abreumatheus commented on #12
Created a PR on this at [#206 ] 😄

[2020-07-13 14:48] camilamaia opened #208 "Change `requests` to `httpx`"
Change requests to httpx https://github.com/encode/httpx

## Features

HTTPX builds on the well-established usability of `requests`, and gives you:

* A broadly [requests-compatible API](https://www.python-httpx.org/compatibility/).
* Standard synchronous interface, but with [async support if you need it](https://www.python-httpx.org/async/).
* HTTP/1.1 [and HTTP/2 support](https://www.python-http

[2020-07-14 21:08] camilamaia opened #209 "Remove `api` key"
Remove `api` key from the specification. I don't see any purpose in having it right now. If we want to add some extra metadata, we can do the same way OpenAPI does, with extra sections: https://swagger.io/docs/specification/basic-structure/ Our `endpoints` would be the same as `paths` for OpenAPI.

Change from this:

[code]

to this:

[code]

Besides we also need to:
- Update documentation at [sca

[2020-07-14 21:09] camilamaia commented on #209
What do you think @barbosa @marcuxyz @abreumatheus @djalmaaraujo @gillianomenezes ?

[2020-07-14 21:48] abreumatheus commented on #209
I agree with you on this. I didn't comment on it before because i thought there was a plan to create more tags. But right now it really doesn't have a purpose.

[2020-07-14 23:17] barbosa commented on #209
Agreed. But this may be a breaking change. Unless we handle the two possibilites via code.

Given that now we're not in beta anymore (1.x.x), this would need to be documented somewhere, including a migration guide, in case we decide to break it. And ideally this would also require a bump in the major version.

One could argue there are no many users of the library yet but I'd rather setup a proces

[2020-07-15 14:07] gillianomenezes commented on #209
I agree to remove the `api` key. But we should be aware of what @barbosa said about the breaking change. Maybe we should support both ways.

[2020-07-16 17:30] tpiekarski commented on #208
Migrated recently HTTP requests from requests to aiohttp and looking forward to migrate some more requests to httpx this time.
Would like to take a look and migrate these in the next week to prepare myself for coming sprint at EuroPython :)
Did you start to change to httpx?

[2020-07-16 20:44] camilamaia commented on #208
This would be awesome! I didn't have the chance to start tackling this issue, so you can go ahead 🚀

If you have any troubles running it locally, please let me know. We are moving [to poetry](https://github.com/scanapi/scanapi/pull/207) and soon it will be way easier to configure your development env.

[2020-07-17 03:00] marcuxyz commented on #209
I agree! Lets go

[2020-07-18 19:31] #140 closed

[2020-07-18 19:31] #141 closed

[2020-07-18 19:31] #150 closed

[2020-07-18 20:07] #44 closed

[2020-07-18 20:33] camilamaia commented on #201
Closed by #207

[2020-07-18 20:33] #201 closed

[2020-07-20 05:33] tpiekarski commented on #208
That's great :)

Thanks, I keep that in mind.

[2020-07-21 23:59] camilamaia opened #214 "Rename master branch to main"
Rename `master` branch to `main` to avoid slavery references.

More info at: https://github.com/github/renaming

[2020-07-22 12:12] marcuxyz commented on #214
What reason?

[2020-07-22 17:25] djalmaaraujo opened #215 "Proxy Support"
It would be interesting to have the ability to add a proxy config when performing the requests, since we might be hitting API's with a low rate limit or if you don't want to block any CI (circle ci for example) IP address because of SCANAPI.

I saw that #208 has the proxy support, so if we can expose a configuration to pass to `httpx` library the proxy credentials, this would be great.

[2020-07-22 17:58] barbosa commented on #214
https://github.com/github/renaming

[2020-07-25 03:28] vinigfer commented on #165
@camilamaia Could you assign this for me?
Implemented it on this Pull Request https://github.com/scanapi/scanapi/pull/218

[2020-07-25 04:26] vinigfer commented on #115
@camilamaia Could you assign this for me please?
Implemented on PR https://github.com/scanapi/scanapi/pull/219

[2020-07-25 07:49] supakeen commented on #204
I'll take this :)

[2020-07-25 07:54] supakeen commented on #204
How would you want to deal with the current checks regarding the filename extension to determine the file format, I see two options.

My current implementation renamed ``api.yaml`` to ``Scanfile`` which is a name I like a lot.

We could:
1. Try to parse the file as the various supported serialization formats.
2. Add a shebang-like identifier at the top.
3. Include a filename extension.

[2020-07-25 07:58] supakeen commented on #203
Hey there, would you want to perhaps follow the ``XDG`` rules for where command line files have to go? In that case we could use ``appdirs`` to determine the folder perhaps with an override if the file exists in the current working directory scanfile is being ran from (this might be confusing).

Filename wise I like using XDG paths for global configuration and the ``scanapi.conf`` format if it's t

[2020-07-25 07:59] supakeen commented on #162
Is it that bad to have the CSS inline? Adding a 3rd party dependency for a locally generated report feels a bit weird especially if people say archive reports and they change? :)

[2020-07-25 10:41] camilamaia commented on #162
Yeah, I believe I am good with inline CSS too. @djalmaaraujo what do you think of closing this issue?

[2020-07-25 10:46] camilamaia opened #221 "Increase spec_evaluator.py coverage"
Improve coverage of `/scanapi/evaluators/spec_evaluator.py` file to > 90%
It is the only file that has coverage < 90% right now.

[2020-07-25 10:46] camilamaia commented on #14
Closing this, because I created a specific one: https://github.com/scanapi/scanapi/issues/221

[2020-07-25 10:46] #14 closed

[2020-07-25 10:54] camilamaia commented on #33
I don't see the need of this anymore. I will close the issue, and if we think that makes sense, we can create an issue again ou reopen this.

[2020-07-25 10:54] #33 closed

[2020-07-25 11:23] camilamaia commented on #137
I am closing this because we already have an issue for it: https://github.com/scanapi/scanapi/issues/139

[2020-07-25 11:23] #137 closed

[2020-07-25 12:29] camilamaia commented on #204
Good question! I would go with the option number 1, because it is more intuitive for the user.

I believe [PyYAML](https://pyyaml.org/wiki/PyYAMLDocumentation) already tries to do that.

[code]

We could add a check if the object generated by PyYAML is not a dict, then we raise an error that the file is invalid, for example.

What do you think @supakeen? @barbosa any thought on that?

@supakeen I

[2020-07-25 12:35] camilamaia commented on #203
@supakeen I did not know about the XDG pattern, now many things on my life makes sense 😂 I love the idea. And yes `scanapi.conf` sounds good for the working directory.

I update the issues to remind us to update docs and also examples. Since this is a breaking change feature, we have to also think how are we going to handle previous versions. The same for the issue https://github.com/scanapi/scana

[2020-07-25 13:12] vinigfer commented on #146
Is it possible to use username+password instead of token on the secrets?
Why? Github actions have it's own started action for uploading to pypi: https://github.com/actions/starter-workflows/blob/e11672e5a9026a98ce6235af089d3112ec93dbd5/ci/python-publish.yml

If we use the action from the link above, then this sounds like a simple implementation.
Just replace `twine upload dist/*` with `twine uploa

[2020-07-25 13:34] camilamaia commented on #146
@vinigfer I believe this implementation is for projects that use `setup.py`. Since we migrated to poetry, we used a specific github action for that - which uses pypi token.

Just to give you a context, our solution with `setup.py` was not working that good. We were having problems to set dev envs, virtualenvs and so on. Poetry helped us with that.

[2020-07-25 13:35] vnaydionov commented on #51
I'm not sure about the security impact, just the fact that `eval()` is able to execute arbitrary code in the context of `scanapi`, which itself may be imported in some CI stuff.
Here are some examples of how to escape from sandbox environment: https://book.hacktricks.xyz/misc/basic-python/bypass-python-sandboxes

One more idea: how about to allow for moving assertion code into a separate Python mo

[2020-07-25 14:09] camilamaia commented on #165
closed by #218

[2020-07-25 14:09] #165 closed

[2020-07-25 14:33] vnaydionov opened #224 "More explicit chaining of queries"
I'd like to propose an externsion to the [testing feature](https://github.com/scanapi/scanapi/pull/152).
Since the spec `.yml` file essentially maps to a linear chain of calls, it would be useful sometimes to alter the execution order of those queries.

1. For example, if some call fails an assertion there might not make much sense to run the rest of the call chain.  This could be signalled someho

[2020-07-25 14:38] #188 closed

[2020-07-25 14:39] supakeen commented on #224
Steering close to a DSL :+1:

[2020-07-25 14:40] #115 closed

[2020-07-25 14:52] vinigfer commented on #146
OK, so I dig around a bit, and it seems we can set a Test PyPI with poetry. All we need to do is run:
[code]
Found those using `poetry config --help` and `poetry publish --help` commands.

Could you test locally if that works since I don't the token access for Test PyPI?

After we confirm that works, we can open a PR on the github action we are using. Right here: https://github.com/JRubics/poetry-

[2020-07-25 15:11] camilamaia commented on #146
@vinigfer I tested it here and it works beautiful ⭐

What I did:

[code]

https://test.pypi.org/project/scanapi/#description

[2020-07-25 16:29] 5pence commented on #62
Going to have a crack at this :)

[2020-07-25 17:10] #204 closed

[2020-07-25 17:23] vinigfer commented on #146
Great!! I just opened a PR on the original action. Let's see if we get any response back.
Could you help to review it please? See if I didn't forget anything
https://github.com/JRubics/poetry-publish/pull/2/files

[2020-07-25 17:55] vinigfer commented on #160
By any chance Samuel commited to this repository? I was wondering on doing something like this:
- Get the list of commiters using a script such as `git log --format='%an <%ae>' | sort --ignore-case | uniq`
- Once a week use github actions update `README.md` or a specific markdown file (might be easier then parse/cut/edit README.md), if we have new contributors. If we have any new, open a Pull Requ

[2020-07-25 18:11] camilamaia commented on #160
@vinigfer Samuel is a designer, so he does not have a github. But I believe we can "hardcoded" this specific credit.

For the others, @marcuxyz suggested this when we were talking the last time: https://github.com/all-contributors/all-contributors

Example:
https://github.com/flask-extensions/flaskextensions.com#contributors

I have never work with it, but maybe it is a good place to check

[2020-07-25 18:21] camilamaia opened #226 "Change command "scanapi <spec_file>" to "scanapi run <spec_file>""
Change command

[code]

to:

[code]

We want to create new commands in the future, like `scanapi convert OPENAPI_PATH`. For that, we need to make the main command more explicit.

For more information and context, please check [ADR 6: How to integrate feature that converts OpenAPI file to ScanAPI file](https://github.com/scanapi/scanapi/issues/202)

[2020-07-25 18:23] camilamaia commented on #12
@abreumatheus i've created a specific issue to change the default command to `scanapi run` https://github.com/scanapi/scanapi/issues/226

This way we can start breaking this task in smaller ones.

[2020-07-25 18:25] vinigfer commented on #160
Interesting ... there is a bot to help in that

[2020-07-25 18:42] vinigfer commented on #117
By "report" you mean the for the examples, as mentioned on this issue: https://github.com/scanapi/scanapi/issues/153 ?

[2020-07-25 18:51] camilamaia commented on #117
@vinigfer no sorry, I mean the html file generated by running scanapi command.

Let's suppose someone wants to use our github action. So he/she will want to run the command:

[code]

and this command will generate a `scanapi-report.html`. This html is the one we call "report".

I will improve the description of the other issue you commented about too, to make it more clear.

[2020-07-25 20:07] camilamaia opened #227 "Move documentation from README.md to the website"
Move `Documentation` section of the README.md to [the website doc](https://github.com/scanapi/website/tree/master/_docs_v1).

![image](https://user-images.githubusercontent.com/2728804/88465412-3869d700-ce99-11ea-9e40-6c8f5d4b4dd8.png)

We also need a link to the Website [scanapi.dev](scanapi.dev) in the README.md

[2020-07-25 20:11] camilamaia opened #228 "Change `project-name`, `hide-request` and `hide-response` to use underscore"
Change `project-name`, `hide-request` and `hide-response` to use underscore

- `project_name` instead of `project-name`
- `hide_request` instead of `hide-request`
- `hide_response` instead of `hide-response`

https://github.com/scanapi/scanapi/blob/55e30aa92aed6a3a1131e35f357aff2fbdd61bc8/scanapi/reporter.py#L36
https://github.com/scanapi/scanapi/blob/55e30aa92aed6a3a1131e35f357aff2fbdd61bc8/scana

[2020-07-26 01:30] 5pence commented on #62
Writing up some docstring I cam across this:
`    def start(self):
        """ Start session method that sets the time this Session object began. """
        self.started_at = datetime.now()`

Why bother having this? wouldn't it be better to have `self.started_at = datetime.now()` inside the constructor __init__ ?

[2020-07-26 11:22] camilamaia opened #232 "Add Core Team and Maintainers as codeowners"
Add `Core Team` and `Maintainers` as [codeowners](https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners)

[2020-07-26 11:30] #209 closed

[2020-07-26 11:39] camilamaia opened #233 "Status Circle misaligned"
For some users, the status circle in the report in misaligned

![image](https://user-images.githubusercontent.com/2728804/88477974-f2555780-cf1a-11ea-8ba0-24c23e881464.png)

I testes using Mac for Safari, Chrome and Firefox and they all work. Probably something related with OS?

Does anyone use linux/windows here? So then we can test it better :)

[2020-07-26 11:55] Pradhvan commented on #228
@camilamaia I can pick this up ✋

[2020-07-26 12:29] 5pence commented on #227
will give this a go

[2020-07-26 12:49] malminhas opened #235 "Add support for hiding selected request body"
I would like to hide the body in the generated report for just ONE of the requests in the sequence which is called `get_token`.  Is there a way to do that?   Currently if I do this in the .scanapi.yaml configuration file:
[code]
I get the following in the output on running the scanapi CLI:
`a bytes-like object is required, not 'str'`

[2020-07-26 13:25] #228 closed

[2020-07-26 13:44] Pradhvan commented on #139
@camilamaia I can look into this ✋

[2020-07-26 14:19] malminhas opened #237 "Document how to set Content-Length 0 for GET"
ScanAPI appears to set body to `{}` and `Content-Length` to 2 in every GET request.  This results in an error with a particular endpoint I am trying to hit which requires an empty body with Content-Length=0.   I tried to set `body: ""` but that didn't override the default behaviour.  Eventually I figured out that I could set the body empty in the GET like this:

`body: `

it then sets Content-Leng

[2020-07-26 16:04] #235 closed

[2020-07-26 16:34] #232 closed

[2020-07-26 16:37] camilamaia commented on #62
Closed by #230

[2020-07-26 16:37] #62 closed

[2020-07-26 16:45] camilamaia opened #242 "Publish Sphinx Documentation"
## Publish Sphinx Documentation
The #230 implemented the auto-generated code documentation using [sphinx](http://sphinx-doc.org/).

We can run it locally by running

[code]

And we can access it opening the file `scanapi/documentation/build/html/index.html` in a browser.

This is great, but it would be nice to have this documentation published somewhere else. One option would be to publish it insi

[2020-07-26 16:48] camilamaia opened #243 "Create a dockerhub account for ScanAPI organization"
## Create a dockerhub account for ScanAPI organization

Currently we are using my private account (camilamaia) to store ScanAPI's docker images: https://hub.docker.com/r/camilamaia/scanapi. We need an organization account.

[2020-07-26 18:18] Pradhvan opened #245 "Newcomers contribution guide"
Add in `contributions.md` or create a newcomers guide that follows an approach for better commit messages and gives out better git practices for newcomers/first time contributors to follow.

Good docs shared by @vinigfer

[0]https://seesparkbox.com/foundry/semantic_commit_messages
[1]https://chris.beams.io/posts/git-commit/

[2020-07-26 20:23] barbosa commented on #148
@camilamaia https://developer.twitter.com/en

[2020-07-26 21:22] Pradhvan commented on #148
Hi ! Just a thought we should only do this for major releases otherwise people might find it spamming from the account, if we start doing a tweet for even a minor release.

[2020-07-26 21:36] 5pence commented on #242
Yes can add this in Camila :) will assign myself

[2020-07-26 21:48] 5pence commented on #227
Have completed this story - suggest creating a new issue to:

We also need a link to the Website scanapi.dev in the README.md
as that is for the scanapi repo?

[2020-07-27 16:44] Pradhvan commented on #160
@vinigfer @camilamaia this might be a long shot but we can try something like this https://zulipchat.com/team/ for scanapi website.

A team page that has all the contributors list with the total number of commits mentioned.

[2020-07-29 19:47] #146 closed

[2020-07-29 20:12] Pradhvan commented on #208
@tpiekarski are you working on this ? If not I would be happy to take this up. 😄

[2020-07-30 08:32] tpiekarski commented on #208
Please go ahead, I am out of order for some time. Thanks 😊

[2020-08-01 23:43] #205 closed

[2020-08-02 02:38] abreumatheus commented on #48
Hi,
I just develop a initial version with completion for all tags in the specification and snippets for custom vars and python code.
If you guys approve it, we'll have to create a new repo for the extension.
You can view the code in my repo [here](https://github.com/abreumatheus/scanapi-intellisense), and download the preview release [here](https://github.com/abreumatheus/scanapi-intellisense/rele

[2020-08-02 13:27] barbosa commented on #148
@Pradhvan I don't think this will be spamming. Even minor releases won't happen that often. In fact, the latest version was published more than 16 days ago. We might be pushing things to `master` every day, but since releases are made manually after a set of features is implemented, I don't think this will be a big deal.

Major releases will rarely happen, so if we tweet only for those cases, auto

[2020-08-02 14:51] barbosa commented on #48
@abreumatheus What a great surprise for a Sunday morning!

![](https://media.giphy.com/media/Z9PlhqyYLGxThJd7XX/giphy.gif)

[2020-08-03 01:17] barbosa commented on #48
@abreumatheus this looks good for a first version. Next version we can explore the other VSCode APIs. Very excited to see this progressing!

@camilamaia I can help you out if needed, creating the MS account. I had to go through the same process for Loadsmart's. Let me know.

[2020-08-03 01:30] abreumatheus commented on #48
@barbosa All help is welcome, it was the first time i tried to develop a VSCode extension, so there's a lot to learn. 😃

[2020-08-03 01:35] barbosa commented on #48
Very excited seeing this happening, @abreumatheus. Thank you so much for digging into their API! 💪

[2020-08-03 18:24] camilamaia commented on #226
closed by #247

[2020-08-03 18:24] #226 closed

[2020-08-03 18:40] djalmaaraujo commented on #162
I would close it. I don't like the idea of calling external css too.

[2020-08-03 18:53] #162 closed

[2020-08-03 18:59] camilamaia opened #248 "Too long URLs break the reporter"
Too long URLs break the reporter

![image](https://user-images.githubusercontent.com/2728804/89215581-49a09b00-d59f-11ea-9eba-e121bf7827d2.png)

[2020-08-03 21:12] camilamaia commented on #48
@abreumatheus wow, wow, wow! This is amazing 🚀 🤩 Thanks for that! I am super excited with it. Let me see to create the MS account

[2020-08-03 21:19] abreumatheus commented on #48
@camilamaia Thanks! Don't forget the repo here on github, so i can push it there and we'll be able to start contributing 😃

[2020-08-03 21:19] camilamaia commented on #48
@abreumatheus oh, good point! 😅 let me do it right now!

[2020-08-03 21:23] camilamaia commented on #48
@abreumatheus https://github.com/scanapi/intellisense 😺

[2020-08-03 22:54] camilamaia commented on #48
@abreumatheus,

@barbosa and I just created the Microsoft Account and set the token in the secrets of the new repo. This way we can automatize the deploy: https://github.com/scanapi/vscode-extension/issues/1

![image](https://user-images.githubusercontent.com/2728804/89234768-12dc7c00-d5c3-11ea-90a3-2e348761f423.png)

We also did a first release manually only for testing:

![image](https://user-im

[2020-08-03 22:55] camilamaia commented on #48
I am going to close this issue because now we can starting creating specific issues in the new repo.

[2020-08-03 22:55] #48 closed

[2020-08-04 12:25] camilamaia opened #249 "Failing to publish to Test PyPI"
## Failing to publish to Test PyPI

https://github.com/scanapi/scanapi/runs/941693385

[code]

[2020-08-04 12:32] camilamaia commented on #242
Maybe a good reference of how to do this: https://github.com/marketplace/actions/sphinx-build

[2020-08-05 14:57] #227 closed

[2020-08-05 17:53] Pradhvan commented on #233
@camilamaia I can test it out in a Linux system. But I don't know where can I check the CircleCI icon ?

[2020-08-05 18:00] camilamaia commented on #233
@Pradhvan oh it is not the circleci icon, it is the circle in the ScanAPI Report.

![image](https://user-images.githubusercontent.com/2728804/89447175-f4de5b00-d72b-11ea-945c-034bfdf5a111.png)

For me, the green `P` circle is aligned, but for others users is appears misaligned, like this:

![image](https://user-images.githubusercontent.com/2728804/88477974-f2555780-cf1a-11ea-8ba0-24c23e881464.png)

[2020-08-05 18:05] Pradhvan commented on #233
Oh ! My bad 😓 Let me check that tomorrow on a Linux system. 😄

[2020-08-05 18:26] Pradhvan commented on #208
@camilamaia on a quick overview of the issue I found requests to be used only in two files.

* `scanapi/scanapi/tree/request_node.py` : here I can try to find an quivalent of `requests.requests` for `httpx`
[code]

* `scanapi/scanapi/tree/testing_node.py`:

[code]

`requests` is being imported but it isn't being used. But the linter is not showing it as an unused import? Am I missing something her

[2020-08-06 19:40] marcuxyz commented on #208
to remove imports and unused variables. I recommend:

https://pypi.org/project/autoflake/#:~:text=To%20remove%20all%20unused%20imports,remove-unused-variables%20option.

[2020-08-11 14:21] camilamaia commented on #233
@Pradhvan hey, did you have a chance to test it? I want to fix it, but I can't reproduce it 😞

[2020-08-11 14:46] Pradhvan commented on #233
@camilamaia hey ! Will update this by tomorrow EOD for sure.  Had been a bit busy so didn't get a chance to do it.

[2020-08-13 17:16] camilamaia commented on #208
I tested changing `requests` to `httpx`, but we have one problem. Curlify does not work with `httpx`:

[code]

https://github.com/ofw/curlify/blob/master/curlify.py#L27

The only changed I made was:

`scanapi/scanapi/tree/request_node.py`

[code]

If I remove [this line](https://github.com/scanapi/scanapi/blob/97c4451c6b4a52d13f32c617053bbfe8cecdc75f/scanapi/templates/html.jinja#L408), everything

[2020-08-14 21:45] camilamaia commented on #249
I opened a PR in the github action to fix it: https://github.com/JRubics/poetry-publish/pull/3

[2020-08-17 18:01] #249 closed

[2020-08-17 20:07] Vimai opened #253 ".scanapi.yaml not formatting report.html"
hi,

i am trying format my report.

currently using ```scanapi    1.0.5```

my .scanapi.yaml

[code]

but only the output_path works.

i'm running like:
```scanapi scanapi.yaml ```

the ```scanapi run scanapi.yaml``` command does not work for me

and i have to use de 'api' key(s) at 'root' scope in scanapi.yaml

full code -> [https://github.com/Vimai/examples/tree/master/local-example-api](https:/

[2020-08-24 18:23] marcuxyz opened #255 "Create new Labels for Issues"
I was thinking, we could create labels:

`easy`
`hard`

This would help new members.

[2020-08-24 20:34] #131 closed

[2020-08-24 20:34] #203 closed

[2020-08-24 23:29] camilamaia commented on #253
@Vimai Hi! We are about to create a 2.0.0 release, that is why it might be confusing. You can check the examples and the code for the previous version 1.0.5.

- Examples: https://github.com/scanapi/scanapi/tree/v1.0.5
- Doc and repo: https://github.com/scanapi/examples/tree/v1.0.5

For you example, it should work like this:

[code]

For the next version, we will have only `_` instead of a mix of u

[2020-08-25 15:23] #233 closed

[2020-08-25 15:23] #248 closed

[2020-08-26 15:58] loop0 opened #260 "Add anchor link for each request in the report to make it easily shareable"
It would be nice to have [anchor links](https://visualcomposer.com/blog/what-is-anchor-link/) available at each request in the report.

To share a specific request that needs review would be easier than having to scan (pun intended) through the entire report.

[2020-08-26 16:04] loop0 opened #261 "Body in the report should be rendered according to it's request content type"
Today the Body is showing the representation of python's byte string, which in the report should be agnostic of language, but based on it's request content type.

For example:

- A request of application/json can render the body as json in the report and make use of the same tool that is used at the Content field
- A request of binary content type should just show a placeholder text like: "Binary

[2020-08-26 17:28] camilamaia commented on #253
@Vimai the 2.0.0 was released. Your initial code should work with the new version, you just need to update it.

[2020-08-26 17:28] #253 closed

[2020-08-26 17:39] camilamaia opened #262 "GET requests are sending body as `{}` and Content-Length equals 2"
On GET every request ScanAPI is sending body as `{}` and Content-Length equals `2`. The body should be None and the Content-Length should be `0`.

A small hack to fix this while we don't have a new version is to have an empty body in the GET request specification, like this:

[code]

Related to: https://github.com/scanapi/scanapi/issues/237

[2020-08-26 17:40] camilamaia commented on #237
What we could do is to properly set the body as None in the GET request. This way we would have the expected behaviour.
What do you think @malminhas?

I am going to close this issue since I created a new one to change the ScanAPI behaviour, ok? https://github.com/scanapi/scanapi/issues/262

[2020-08-26 17:43] #237 closed

[2020-08-26 17:53] camilamaia opened #263 "Snippets Copy Button in the Report"
## Snippets Copy Button in the Report

It would be nice if the user could have a button to copy data from the report, something like this:

![image](https://user-images.githubusercontent.com/2728804/91338345-2be3e180-e7ab-11ea-8271-b9482e724f6f.png)
https://docs.api.getpostman.com

We could have it for the `cURL` and `content` blocks.

![image](https://user-images.githubusercontent.com/2728804/913

[2020-08-26 19:42] marcuxyz commented on #243
Can i help u?

[2020-08-27 02:22] 07carvalho opened #264 "Show link to report in CLI"
Is it possible to insert a link to open the report in the end of CLI message?

![image](https://user-images.githubusercontent.com/6222601/91376098-b996ef80-e7f2-11ea-90bb-67c2856d60c6.png)

[2020-08-27 14:10] camilamaia commented on #264
I believe it is already there. maybe it is no showing as a link for some terminals...

![image](https://user-images.githubusercontent.com/2728804/91452782-60ac7300-e855-11ea-97dd-736df43cc39a.png)

At my terminal, it shows like this:

![image](https://user-images.githubusercontent.com/2728804/91453004-a1a48780-e855-11ea-9a1b-4befe787f2b2.png)

But if I  `cmd + click` on it, it shows the link and o

[2020-08-27 23:00] camilamaia commented on #264
I tested it in another terminal and it does not work trying to click in the name. We could at least print the whole file path. I believe this would solve the problem. It might be super annoying having to get the whole path.

[2020-08-28 12:32] camilamaia commented on #243
I make a mistake, create the org scanapi, but I had to delete it. Now I can't get the same name `scanapi`, it says is already taken. I sent an email but no replies till now :/

[2020-09-01 19:03] malminhas commented on #237
Sounds ideal to me @camilamaia, thanks for the heads up.

[2020-09-01 21:26] camilamaia opened #265 "Global Variables"
## Global Variables

Enable the possibility to have global variables. Sometimes we need to access a variable from outside the scope, for example:

[code]

It would be nice to have a way to store `book_id` globally. Currently, the example above wouldn't work because the second request is not in the same scope as the first one.

Maybe we could have something like:

[code]

[2020-09-01 21:40] camilamaia commented on #255
@marcuxyz I like the idea! I am just not sure about how to categorize the issues. How can we define if a issue is easy or hard?

[2020-09-01 22:54] 07carvalho commented on #260
if it's ok, I can get this task

[2020-09-02 12:35] camilamaia commented on #260
Sue thing! Let us know if you need any help @07carvalho 🎉

[2020-09-02 18:15] malminhas commented on #262
Thanks @camilamaia this would be a good workaround.

[2020-09-02 18:26] malminhas opened #266 "Allow a delay between successive API calls"
### Enable the possibility to `sleep` between API calls.

The API I am accessing for test purposes builds up a list of quotes returning a status of `PROGRESSING` until all quotes are retrieved at which point the status is `COMPLETED`.  In other words, this API has to be polled.  I am able to work around this with a sequence of around 5 identical calls until I get past the point of completion.  It

[2020-09-10 02:54] flap opened #267 "New feature: import a Postman collection to scanapi format"
A good improvment to this project is the feature to import a Postman collection format to scanapi format!

[2020-09-10 03:00] flap opened #268 "New feature: run without report file"
I think that if I will run scanapi many times, the report generation may causes overhead in executions.
With an option --with-report, the response as a boolean can possibility performance executions.

[2020-09-10 11:48] marcuxyz commented on #255
Yeah... hahahahaha I have ideia. e.g:

#### Easy

- all documentation parts
- add minimal things
- minimal bug fix

#### Hard

- bug in deploy process
- and etc...

what do you think?

[2020-09-10 17:19] camilamaia commented on #267
Wow, this one would be awesome 😻

[2020-09-10 22:17] kelvins opened #269 "Move bandit to dev section"
It seems `bandit` is only used in the development stage.
Does it make sense to move the dependency to the `dev` section on [pyproject.toml](https://github.com/scanapi/scanapi/blob/master/pyproject.toml#L26)?

[2020-09-11 01:32] kelvins opened #270 "Consider using flake8 and isort"
Hello, this is just a suggestion to consider using [flake8](https://flake8.pycqa.org/en/latest/) and [isort](https://github.com/PyCQA/isort) to improve code quality.

With flake8 we could catch things like this:
- Lines too long (e.g. > 79 characters)
- Unused imports
- Imports that were not declared at the top of the file
- ...

And using isort we could automatically sort imports based on PEP8 re

[2020-09-11 21:34] camilamaia commented on #245
hey @Pradhvan I've created the guide inside our wiki! Let me know what you think about it 😄

[2020-09-12 00:17] #245 closed

[2020-09-12 05:45] leogregianin commented on #264
In reporter.py:
[code]
Wouldn't that be enough to show the full path?

[2020-09-13 22:32] camilamaia opened #274 "Lint Action failing because different black version"
`lgeiger/black-action` does not permit to set a specific version for Black. The action always install it using `pip install black`. See the code [here](https://github.com/lgeiger/black-action/blob/master/Dockerfile#L12)

For our project we fixed the version on [19.10b0](https://github.com/scanapi/scanapi/blob/f1a3b20892a3356f07a8688a63ee51c0c7bb3291/pyproject.toml#L33)

Because of that, our checks

[2020-09-13 22:42] camilamaia commented on #264
@leogregianin yes, I believe so!

[2020-09-13 23:23] camilamaia opened #275 "GitHub Action for First-Time contributor"
## GitHub Action for First-Time contributor

Comment on pull requests from `first-time contributors` with a welcoming message and instructions link.

For example:

[cron-first-interaction](https://github.com/marketplace/actions/cron-first-interaction) might do the trick.

[2020-09-13 23:27] camilamaia commented on #270
Hi @kelvins, thanks for the suggestion!

We already use black for lint in the [pre-commit](https://github.com/scanapi/scanapi/blob/master/.pre-commit-config.yaml#L1) and also in the [pipeline](https://github.com/scanapi/scanapi/blob/master/.github/workflows/lint.yml#L4), which I believe replaces flake8.

But isort is definitely something we could have. Thank you again!

[2020-09-14 00:36] kelvins opened #276 "Move pytest config to pyproject.toml"
Suggestion:
By moving the pytest configuration to `pyproject.toml` it would be possible to remove the `pytest.ini` file.

Note that the [pyproject support](https://docs.pytest.org/en/stable/customize.html#pyproject-toml) was included in pytest version 6.0 and I'm not sure if there is a specific reason (e.g. dependency conflict) that makes it impossible to update pytest right now.

[2020-09-14 18:03] camilamaia commented on #274
closed by #273

[2020-09-14 18:03] #274 closed

[2020-09-18 03:53] #264 closed

[2020-09-21 00:58] camilamaia commented on #117
V1 is ready!

https://github.com/scanapi/github-action
https://github.com/marketplace/actions/scanapi
PR using it: https://github.com/scanapi/examples/pull/12

@barbosa @vinigfer I believe you guys will like it 😄

[2020-09-21 00:58] #117 closed

[2020-09-21 17:06] djalmaaraujo opened #279 "When using vars with hyphen (dash) is not being evaluated"
Saving vars on the first request:

[code]

Trying to use the `Acess-Token` var:
[code]

Result:

![image](https://user-images.githubusercontent.com/3402/93798171-a1f53000-fc13-11ea-8444-6475343c26ee.png)

[2020-09-22 00:19] leogregianin commented on #267
Sorry for closing the issue, I typed wrong.

It would be interesting for Insomnia collection too.

[2020-09-27 22:23] #153 closed

[2020-09-29 14:27] marcuxyz commented on #270
@camilamaia consider use [autoflake ](https://pypi.org/project/autoflake/)for remove` unsed variables` and` isort to remove unsed imports and re-imports.`

@kelvins this line code, reflecting the same issue that the flake8 fix.

https://github.com/scanapi/scanapi/blob/ddd813928c667a71d836aa74ea0233b24f885e1d/Makefile#L7

[2020-09-29 16:44] #262 closed

[2020-09-29 16:49] #279 closed

[2020-09-29 16:54] #270 closed

[2020-09-30 19:43] marcuxyz commented on #276
I close the issue, why it was resolved in #283

[2020-09-30 19:43] #276 closed

[2020-10-01 12:51] dbzkunalss commented on #269
`bandit` is just being used for file processing, so it makes sense to move it to `dev`.

[2020-10-01 18:14] #255 closed

[2020-10-01 18:37] marcuxyz opened #288 "add max number to format code using black in makefile"
make format command are be caused error:

`Error: Invalid value for '-l' / '--line-length': . is not a valid integer`

Please, add max number after -l command in Makefile.

https://github.com/scanapi/scanapi/blob/459b3c7e487a5057bec5a2f9a8e7c910b7663e9e/Makefile#L10

[2020-10-01 19:40] chinvib66 commented on #221
@camilamaia, I would like to work on this issue.

I have a query
In SpecEvaluator, if endpoint.parent is None, which is by default None, then get(key) function throws error. Should I add exception handling in the get function, or leave it as it is?

[2020-10-01 19:53] chinvib66 commented on #221
Also, in Endpoint class, in `spec` property `VARS_KEY` is not allowed, but it is used to set the `vars` property. Refer to `scanapi/tree/endpoint_node.py` line 41.

[2020-10-01 20:08] #288 closed

[2020-10-02 19:45] quizhpi commented on #263
@camilamaia I'll gladly make the update.

[2020-10-02 20:44] percygautam commented on #160
Can I work on this?

[2020-10-02 21:45] camilamaia commented on #160
sure thing!

[2020-10-02 21:49] camilamaia commented on #275
closed by #290

[2020-10-02 21:49] #275 closed

[2020-10-03 01:27] kelvins commented on #47
I don't know exactly what the [poetry-dynamic-versioning](https://github.com/mtkennerly/poetry-dynamic-versioning) package does but there is a `version` command in the poetry itself.

For example:

[code]

Another great package that works with `pyproject` is [bump2version](https://github.com/c4urself/bump2version) (a maintained fork of the [bumpversion](https://github.com/peritus/bumpversion) proj

[2020-10-03 13:17] kelvins commented on #266
Can I work on this feature?
What do you think about including a `delay` key at the `endpoints` level and applying it to every request that is inside the endpoint?

[2020-10-03 14:48] malminhas commented on #266
Thanks @kelvins thanks for offering to help!  I think your suggestion sounds quite reasonable.  I'd be happy to test.  I also think the delay is best set in milliseconds.  At least that would be most useful in the particular case I have.

[2020-10-03 18:34] JRubics opened #293 "Unused imports"
In some files, there are imports that are unused. Can be found as F401 using flake8.

[2020-10-04 21:15] JRubics commented on #268
Hi, if it is ok, I would like to add this feature :)

[2020-10-05 00:27] camilamaia commented on #221
@chinvib66 great catch! I am thinking the best way to solve this 🤔 I believe we could make vars allowed to endpoints node too in this case.

[2020-10-05 00:28] camilamaia commented on #221
@chinvib66 sorry, on which line? The root node is the only node that does not have a parent.

[2020-10-05 01:00] camilamaia commented on #263
closed by #295

[2020-10-05 01:00] #263 closed

[2020-10-05 02:42] chinvib66 commented on #221
`/scanapi/evaluators/spec_evaluator.py` line 38, the `__getitem__` function, which is used by `get` function (line 29).

In `__getitem__` function, if you look at line 42, the if condition is valid only if `self.endpoint.parent` is **not** `NoneType`

So, for root node, as you said, the parent will be `None`, and the invalid if condition raises `AttributeError`, which is not handled in any of the

[2020-10-06 12:44] #266 closed

[2020-10-06 14:06] camilamaia commented on #266
@malminhas this feature is already available for you on version v2.1.0 🎉🎉🎉
https://pypi.org/project/scanapi/

Thanks @kelvins for developing it 🙇‍♀️

[2020-10-06 20:22] camilamaia opened #298 "New feature: retry request calls"
## Retry request calls

The possibility to retry certain call if a connection error happened.

[2020-10-06 20:23] camilamaia commented on #224
@vnaydionov I've created a separated issue for the 3rd point: https://github.com/scanapi/scanapi/issues/298

[2020-10-07 04:34] zimbres opened #300 "Trying to get a TOKEN from application/x-www-form-urlencoded using username and password"
Hello,

I trying to validating the authentication of FastAPI implementation with no success.

I tried to get the token from username=johndoe&password=secret but looks like sending body: username=johndoe&password=secret is double quoting the -d parameter, I got 422 response

Even so I tried to authenticate by Bearer genereate by swagger endpoint also with no success, I got an 307 response.

Is this

[2020-10-07 15:22] zimbres commented on #300
Bearer token directly is fine, my mistake about /endpoint.

Only error is get a Token from username and Password

[2020-10-07 15:42] zimbres commented on #300
Getting TOKEN by username and password also working, the body has to be sent like:

"grant_type=&username=johndoe&password=secret&scope=&client_id=&client_secret="

[2020-10-07 21:42] #47 closed

[2020-10-08 11:41] camilamaia opened #301 "Allow for using python code from a separate Python module inside the specification"
Allow for using python code from a separate Python module inside the ScanAPI specification.

Example:

File tests.py
[code]

File scanapi.yaml
[code]

[2020-10-08 11:41] camilamaia commented on #51
Hey, @vnaydionov, I've created a separated issue for your second point https://github.com/scanapi/scanapi/issues/301

[2020-10-08 11:46] camilamaia commented on #139
Hey @Pradhvan , are you still working on this? Or should I clean the assignees field? Thank you!!

[2020-10-08 11:49] camilamaia commented on #148
Hey @barbosa are you still working on this? Or should I clean the assignees up?

[2020-10-08 12:01] camilamaia commented on #160
I've updated this issue description to make it more clear.

[2020-10-08 12:06] camilamaia commented on #221
Got it, that makes sense. It would be nice to have this handled in fact.

[2020-10-08 12:07] camilamaia commented on #221
@chinvib66 I will close this issue, since you PR already solved it, but I believe we can create new issues to the edge cases you pointed out.

[2020-10-08 12:07] #221 closed

[2020-10-08 12:09] camilamaia commented on #242
Hey, @5pence are you still working on this? Or should I clean the assignees up?

[2020-10-08 12:10] camilamaia commented on #260
Hey @camilamaia, are you still working on this? Or should I clean the assignees up? Thank you!

[2020-10-08 12:17] camilamaia opened #302 "Enable `vars` key at the Endpoint level"
## Enable `vars` key at the Endpoint level

Currently, the `vars` key is only accepted at the `requests` level. It would be nice to have it also at the `endpoint` level

[2020-10-08 12:22] camilamaia opened #303 "Convert an Insomnia collection to ScanAPI format"
## Convert an [Insomnia](https://insomnia.rest) collection to ScanAPI format

Related to https://github.com/scanapi/scanapi/issues/267 and https://github.com/scanapi/scanapi/issues/12

[2020-10-08 12:31] camilamaia opened #304 "Hide sensitive information in the URL Query Params"
## Hide sensitive information in the URL Query Params

Add a report configuration option to hide sensitive information in the url `query params`.

In the report, after the configuration, the URL should not be rendered like this

[code]

But instead, with the SENSITIVE_INFO label

[code]

For this issue, we only need to include a new option [here](https://github.com/scanapi/scanapi/blob/master/scan

[2020-10-08 14:38] chinvib66 commented on #221
@camilamaia Please note that my PR did not handle the issue as you were yet to reply to my comment at that time.

[2020-10-08 16:15] camilamaia opened #306 "Fix Publish to Test PyPI Action"
## Fix Publish to Test PyPI Action

https://github.com/scanapi/scanapi/runs/1226711798

![image](https://user-images.githubusercontent.com/2728804/95485508-3972b680-0968-11eb-873c-c9649b2f3fa9.png)

[2020-10-08 16:22] marcuxyz commented on #306
I have up `pr` to fix It.

[2020-10-08 17:17] #306 closed

[2020-10-08 18:40] 07carvalho commented on #260
sorry, i'm moving to another city and couldn't work in this issue. i am unassigning

[2020-10-08 21:44] camilamaia commented on #260
@07carvalho don't worry! Not a problem at all. I hope you enjoy the new city 🎉 🏙️

[2020-10-08 21:56] camilamaia commented on #268
@JRubics I've assigned you to this issue since you have a PR opened solving it, ok?

[2020-10-08 22:14] JRubics commented on #268
@camilamaia ok :smile:

[2020-10-09 09:16] bottleInALightning commented on #304
Why dont you use a post request rather than get

[2020-10-09 12:56] marcuxyz opened #308 "Add video to readme.md"
Hi guys, recently @camilamaia has been create an video speak about ScanApi.  will we add the video in readme on example session?

![image](https://user-images.githubusercontent.com/9499562/95585164-3bdf1a00-0a15-11eb-8f29-8d7b30f60af2.png)

Video link:
https://www.youtube.com/watch?v=JIo4sA8LHco&t=2s

[2020-10-09 13:44] camilamaia commented on #304
@bottleInALightning sometimes the API was already built in this way. Example: [Trello API](https://developer.atlassian.com/cloud/trello/rest/api-group-actions/)

[2020-10-09 16:16] JRubics commented on #293
Reopening because I've found some more unused imports. Will fix soon :smile:

[2020-10-09 21:05] JRubics opened #310 "Update poetry-publish version"
poetry-publish v1.3 uses a pre-built Docker image instead of building it every time from Dockerfile which makes it execute much faster

[2020-10-10 07:29] flaviotruzzi opened #312 "Wiki - Run ScanAPI Locally"
Hi,

I was following the [wiki](https://github.com/scanapi/scanapi/wiki/Run-ScanAPI-Locally), it looks like the documentation there is outdated with the current state of the project.

It says:

[code]

However the example structure does not follow that:

[code]

From the help I got it running with:
[code]

Did I miss something?

[2020-10-10 08:46] flaviotruzzi commented on #298
Can I work on this?

I was thinking on adding a `retry` block under the `endpoints` like this:

[code]

assertion would be the condition for retry, using exponential backoff, adding maximum number of retries and max time to wait. Maybe we could survive with just max time to wait, what do you think?

[2020-10-10 09:59] flaviotruzzi opened #313 "Wiki - Python version"
Hi,

On the [wiki](https://github.com/scanapi/scanapi/wiki/Run-ScanAPI-Locally) it says you need python3.

Looks like poetry do fine with any version of python3, but the configuration for black on the precommit enforces python 3.7, and you need to have it installed to be able to commit or it fails with:

[code]

To fix it I had to delete the virtualenv, reset my pyenv to a 3.7, reinstall poetry un

[2020-10-13 15:09] aalphonsos commented on #304
Olá Camila. Gostaria de ficar responsável por essa issue. O contexto parece bem claro pra mim.

[2020-10-14 12:16] marcuxyz commented on #304
Hi, Camila, I would like to be responsible for this issue. `LGTM`

[2020-10-14 12:34] camilamaia commented on #304
@aalphonsos great, I've assigned you!

[2020-10-14 20:01] Zebralt commented on #301
Hi, I would like to work on this.
Maybe we could have some sort of Context object that would be passed along as the spec gets traversed, which could also be used for #265, in which case I may be able to cover both.
I'm also seeing the discussion happening on #51, so should the solution just expect to be parsing a reference to a function (e.g. `module.a.function`) instead of actual python code in a

[2020-10-14 22:39] #310 closed

[2020-10-16 21:29] camilamaia commented on #301
@Zebralt thanks! I've assigned you to the ticket.

About your point, I agree with you, the python code should have a context. I believe it should have the same context as it would have if it was only an expression as it is today. I mean, the context should be the same, using `{{ expression }}` or using a separate module. What do you think?

About the #51, I believe we still want the ability to hav

[2020-10-16 22:31] flaviotruzzi commented on #301
I'll give it a thought, but I think @Zebralt is going in the right direction, I think Jinja use something similar. You should be able to have a context and patch the globals/locals when executing that code so it is sandboxed. It all depend on how much control and safety one would want.
You can be inspired on how jinja2 do its sandboxing and control its environment:

https://github.com/pallets/jinj

[2020-10-17 20:08] pxd3v commented on #260
I would love to work on it, can i pick it up?! =)

[2020-10-17 20:38] camilamaia commented on #260
Sure, thanks! I will assign you ☺️

[2020-10-18 00:20] kelvins commented on #301
Although ScanAPI uses Python eval to evaluate Python expressions, it is a general tool that can be used for any API, regardless of the programming language (as far as I understand it). With this feature, the tool will be more "coupled" to Python projects, since the Python support will be extended outside the `yaml` specification. I have no opinion against that, I just think it is important to keep

[2020-10-18 14:13] pxd3v commented on #260
@camilamaia hey! I'm kinda confused about the issue, just to make it clear, the objective is to implement anchor links for each one of those? Or an endpoint can have more than one "Request" section?!
![image](https://user-images.githubusercontent.com/55694628/96370033-f1574f00-1132-11eb-932d-43471cbaf8f4.png)

[2020-10-19 10:52] decarli opened #316 "Execute python script in vars only tests is success"
I need execute python script in vars tag, only the all tests is success.

For example, sometimes when script is executed with return not success, the script is break.

[2020-10-19 12:30] #293 closed

[2020-10-19 12:39] camilamaia commented on #260
@pxd3v you are correct, it should be one per each line in the picture. One for each endpoint class.

One endpoint, in the report, has always exactly one request and one response header.

[2020-10-19 14:02] pxd3v commented on #260
Thanks for the guidance! I will work on it asap!

[2020-10-20 21:03] Zebralt commented on #301
This is what I was thinking of when I spoke of explicitly importing modules: as part of the spec. You would then propagate this `modules` dict all the way down to `CodeEvaluator`, rather than having to do module discovery on the spot.

For now, I kept my work self-contained as a new `scanapi/evaluators` module, and so I went the implicit import way instead so I wouldn't have to depend on the spec

[2020-10-21 18:26] camilamaia opened #319 "Add the link icon to copy anchor URL"
## Add the link icon to copy anchor URL

Anchor link was already implemented by PR https://github.com/scanapi/scanapi/pull/317. Now we need add an icon to each endpoint which the user can click and copy the anchor url.

Something similar of what github has:

![image](https://user-images.githubusercontent.com/2728804/96766067-e90c4780-13b0-11eb-93ea-01853927bf48.png)

The result would be something

[2020-10-21 18:49] JRubics opened #320 "Add flake8 Python style check"
Run flake8 Python style check on pull-request

[2020-10-21 18:54] Diyorbek commented on #319
Hello @camilamaia ! Can I get this this task?

[2020-10-21 21:17] pxd3v commented on #319
Hi @camilamaia! I would like to work this issue too hahah.

[2020-10-22 13:22] camilamaia opened #322 "Add flake8 python style formatting to pre-commit"
## Add flake8 Python style formatting to pre-commit

File to add configuration: https://github.com/scanapi/scanapi/blob/master/.pre-commit-config.yaml
More info at: https://ljvmiranda921.github.io/notebook/2018/06/21/precommits-using-black-and-flake8/

Configuration should match with flake8 github action check: https://github.com/scanapi/scanapi/pull/321

[2020-10-22 22:18] NimishVerma commented on #322
Hi, I would like to work on this.  The configuration repo seems to be private or non-existent since it returns 404.

[2020-10-23 13:01] gillianomenezes commented on #302
Hi @camilamaia! Can I assign it to myself?

[2020-10-23 13:02] gillianomenezes commented on #265
Hi @camilamaia! Can I assign it to myself?

[2020-10-23 15:20] camilamaia commented on #322
Hi! It is because the PR was not merged yet. But I changed the description with a proper link, thanks!

I will assign this issue to you 👍

[2020-10-23 15:20] camilamaia commented on #319
@pxd3v sure thing! hah

[2020-10-23 15:21] camilamaia commented on #265
@gillianomenezes yes sure!!

[2020-10-23 15:23] camilamaia commented on #302
@gillianomenezes yes sure, my friend! Make yourself at home 😄

[2020-10-23 18:11] #320 closed

[2020-10-26 21:56] camilamaia opened #326 "Remove `scanapi-report.html` and `scanapi.yaml` from gitignore"
## Remove `scanapi-report.html` and `scanapi.yaml` from gitignore

Remove the following lines: https://github.com/scanapi/scanapi/blob/master/.gitignore#L633-L634

Please, see the discussion [here](https://github.com/scanapi/scanapi/pull/305#issuecomment-705642804)

[2020-10-26 22:59] #326 closed

[2020-10-27 14:55] beatorizu commented on #261
@camilamaia I would like to try this issue

[2020-10-28 11:55] marcuxyz commented on #313
in the https://github.com/psf/black, say:

![image](https://user-images.githubusercontent.com/9499562/97432712-26199200-18fb-11eb-84d7-e802355825ed.png)

in the pre-commit documentation say:

![image](https://user-images.githubusercontent.com/9499562/97432599-fb2f3e00-18fa-11eb-9433-cb5e947e7b52.png)

I believe that above this version both should work. I believe that good leave this clean @camilam

[2020-10-28 11:57] #313 closed

[2020-10-28 11:57] marcuxyz commented on #313
Fix!!!

[2020-10-28 12:03] marcuxyz commented on #312
You really are super right! This will be corrected ...

as documentation:
![image](https://user-images.githubusercontent.com/9499562/97433467-544ba180-18fc-11eb-9545-73e0fb562c25.png)

with fixed:

![image](https://user-images.githubusercontent.com/9499562/97433578-7f35f580-18fc-11eb-92ea-9447e29b7c55.png)

[2020-10-28 12:03] #312 closed

[2020-10-28 12:21] marcuxyz commented on #243
I try speak with docker organization, but, unsuccessfully. Sorry!

I go close the issue, but, re-open when you want;

[2020-10-29 20:44] marcuxyz opened #329 "Commit Patterns"
what do you think about adopting this standard? For new commits

https://www.conventionalcommits.org/en/v1.0.0-beta.2/

@camilamaia

[2020-10-31 21:39] camilamaia commented on #322
Closed by #323

[2020-10-31 21:39] #322 closed

[2020-10-31 21:40] camilamaia commented on #304
Closed by #325

[2020-10-31 21:40] #304 closed

[2020-10-31 21:45] camilamaia opened #332 "Curl snippet is not working"
## Curl snippet is not working

![image](https://user-images.githubusercontent.com/2728804/97790701-8d5c6e00-1ba9-11eb-8525-4c55118083e9.png)

![image](https://user-images.githubusercontent.com/2728804/97790711-9cdbb700-1ba9-11eb-8533-c9aa32dc5525.png)

[2020-11-01 13:06] camilamaia opened #333 "🗣 Announcement: Holidays"
Hi! I just wanna let you all know I will be on holidays the next week, so I will not work on ScanAPI during this period.

Thanks everyone that contributed, especially during the Hacktoberfest, and I am sorry for the ones we could not merge the PR yet.

It takes a lot of time to review and check all the PRs and we prefer to not merge the ones we didn’t have the proper time for this evaluation.

Tha

[2020-11-01 13:34] Pradhvan commented on #333
@camilamaia have fun 😄 🍹

[2020-11-04 20:42] pxd3v commented on #319
Hi Camila! This month I'm starting in a new company, so i'm not having much free time to work on other projects.. i appreciate the oportunity but i will have to pass this issue to another developer. Thank you so much for everything!

[2020-11-17 17:38] camilamaia commented on #333
I am back 😎

[2020-11-17 17:38] #333 closed

[2020-11-17 17:43] camilamaia opened #335 "Github action ScanAPI Examples breaking"
## Github action ScanAPI Examples breaking

https://github.com/scanapi/scanapi/pull/314/checks?check_run_id=1413693170

![image](https://user-images.githubusercontent.com/2728804/99426602-0e726f80-28e3-11eb-8d68-aa4b080dfc97.png)

Github Action we use to set Poetry was deprecated

https://github.com/dschep/install-poetry-action

![image](https://user-images.githubusercontent.com/2728804/99426712-3

[2020-11-17 17:48] #335 closed

[2020-11-17 21:32] camilamaia opened #337 "Add a docstring checker"
## Add a docstring checker

Add a docstring checker that evaluates for every commit or PR if docstring is missing.

Something like: https://github.com/PyCQA/pydocstyle

[2020-11-19 21:20] #332 closed

[2020-11-20 02:14] morvanabonin commented on #308
Hi Marcus,

a question,

do you want only put a link as the image example or embed as shown in this example -> https://qastack.com.br/programming/4279611/how-to-embed-a-video-into-github-readme-md?

I wait for your response.

[2020-11-22 21:31] marcuxyz commented on #308
Thanks you to reply.
You're right!

I'll think good that. Thanks

[2020-11-22 21:32] marcuxyz commented on #308
Thanks you to reply.
You're right!

I'll think good that. Thanks

[2020-11-23 13:52] morvanabonin commented on #308
Right! So, I'll do that way.

[2020-11-23 19:42] #298 closed

[2020-11-24 11:43] morvanabonin commented on #308
How I save the image to use?
https://raw.githubusercontent.com/scanapi/scanapi/master/images/

[2020-11-26 13:32] marcuxyz commented on #308
Here...404 erro this link

[2020-11-26 17:35] morvanabonin commented on #308
Yes! I noticed that was the link of the images in the other examples, but I did not send the image I created yet.
Do you have an email that I can send the image?
Sorry for this bunch of questions, but I'm familiarizing with the project.
Thanks for your help.

[2020-11-28 03:49] marcuxyz commented on #308
Yes i do. Please send me:

preto@marcuspereira.xyz

Sorry my lag to reply.

[2020-12-07 20:14] camilamaia commented on #308
Closed by #338

[2020-12-07 20:14] #308 closed

[2020-12-07 20:37] morvanabonin commented on #308
Thanks, @camilamaia!

As I said to @marcuxyz, I jumped some steps of the doc, so to me was good to review them and learned more about it. Some tools you use to build the scanapi are very useful. I think I can use in my jobs projects as well. <3

[2020-12-08 20:02] morvanabonin commented on #319
Hello guys! I can work on this issue. Could be? Is there someone working at this moment?

[2020-12-10 11:41] camilamaia opened #339 "Improve tests readability with pytest-it"
## Improve tests readability with pytest-it

https://pypi.org/project/pytest-it/

[2020-12-10 12:24] camilamaia commented on #319
@pxd3v no worries!! Not an obligation at all! I hope you are having a great time in the new company!

@morvanabonin yes sure! You can get it :) Let me assign it to you. Thanks!

[2020-12-10 12:36] camilamaia commented on #308
@morvanabonin I am super glad to hear that! And please let us know if you need any help!! 🚀

[2020-12-10 12:45] marcuxyz opened #342 "black and flake8 need to be corrected"
the` github ci ` accuse an error to try get pull request. That ocurred, because, black and flake8 are misaligned

https://github.com/scanapi/scanapi/pull/340/checks?check_run_id=1530384979

![image](https://user-images.githubusercontent.com/2728804/101774533-01edcb00-3acd-11eb-8cae-e9f2bec440db.png)

[2020-12-10 12:51] #342 closed

[2020-12-10 14:19] camilamaia opened #343 "Fix typo in README.md"
## Fix typo in README.md
it is "This tutorial helps you to create an end2end tests for your api rest with ScanAPI" where it should be "This tutorial helps you to create end2end tests for your api rest with ScanAPI"

[2020-12-10 14:29] #343 closed

[2020-12-11 18:07] rvmoura96 opened #345 "Update black version on pre-commit file"
The version of black (code formatter) specified on .pre-commit-config actually is 19.10b0 and it has some conflicts with Flake8(https://github.com/psf/black/issues/1289). This is something already solved in newer black version's.

[2020-12-11 18:16] rvmoura96 commented on #345
this  PR #346  should solve this issue.

[2020-12-11 20:34] marcuxyz commented on #339
Lets go

[2020-12-11 22:04] #345 closed

[2020-12-14 17:38] rvmoura96 opened #349 "Adding support to HEAD and OPTIONS HTTP methods"
The current stable version does not have support to HTTP methods HEAD and OPTIONS, those are methods that could be useful in some test scenarios.

[2020-12-16 12:30] camilamaia opened #351 "Makefile, pre-commit and github action lints are not compatible"
# Makefile, pre-commit and github action lints are not compatible

If you run make check, it says it is all good. But in the CI, it raises an error:
https://github.com/scanapi/scanapi/pull/348/checks?check_run_id=1539954481

[2020-12-16 12:31] #351 closed

[2020-12-16 12:49] #261 closed

[2020-12-18 14:22] #349 closed

[2020-12-22 14:50] abreumatheus commented on #12
Hi guy, i'm back working on this. Was transitioning jobs and lacking time but now i'm able to pick up were i left. :)

[2020-12-23 21:03] camilamaia commented on #12
Awesome @abreumatheus! Great news! I've reassigned you to the ticket 🚀

[2020-12-31 01:23] abreumatheus commented on #12
@camilamaia A question came up here. Since the "params" key refers to query params, how do we work with path params?

[2021-01-26 17:10] #300 closed

[2021-03-08 04:28] jpsilva15 opened #352 "Add Dotenv (.env) support"
Hi.
I added Dotenv to ScanAPI.
can I submit a PR?

[2021-03-11 19:31] marcuxyz commented on #352
Hi, @jpsilva15 . We create a doc to help

https://github.com/scanapi/scanapi/wiki/First-Pull-Request

[2021-03-16 19:55] leandro-hermes opened #353 "JSON of results in template"
Hey, guys! Is there a way to pass the `results` key as a JSON to the template? I don't know anything about Python, but I would like to present the results in a different way in my template. Thanks!

[2021-03-17 20:19] leandro-hermes opened #354 "Add request name to results variable passed to report"
I would like to show the name I have defined for each request in the report, but it is not currently being passed. I need this because I have many similar endpoints and I need to open them one by one to find the details of the request I want to see. I would like also visually group some requests by their name using Javascript.

[2021-03-24 15:48] #352 closed

[2021-04-20 13:10] #339 closed

[2021-04-20 14:37] camilamaia opened #356 "Fix `Publish to Test PyPI` Action"
## Description

https://github.com/scanapi/scanapi/runs/2390880720

[2021-04-20 15:15] luizgustavoob opened #359 "CI Integration"
Hi guys! First i'm sorry for my bad english.

I'm integrating the library into a CI and I would like to know if there is any way to force an error if any integration test fail. Is this possible? Thanks!

[2021-04-22 14:28] camilamaia commented on #356
Fixed by #361

[2021-04-22 14:28] #356 closed

[2021-04-22 14:30] camilamaia commented on #359
Hi @luizgustavoob! Welcome! Which CI are you using? By default, it should break the job if any integration test fail.

[2021-04-22 14:34] camilamaia opened #362 "Remove changelog entries that should't be there"
## Description

Following our [changelog guide](https://github.com/scanapi/scanapi/wiki/Changelog#what-warrants-a-changelog-entry) there are some changelog entries that should not be there in the `Unreleased` section. We need to clean it up before a release.

[2021-04-22 14:47] #362 closed

[2021-04-22 20:07] luizgustavoob commented on #359
Hi @camilamaia. Humm interesting!

I'm using the Gitlab CI. Due to the version of Python in the runners (2.7 :cry:), i did the tests from docker container. My Dockerfile it's simple, like that:
[code]
So, during image build, the tests are executed. After that, i just copy the generated report, like that:
[code]

Maybe is not the best way, but... kkk
I noticed that when a test fails, the image buil

[2021-04-23 00:56] camilamaia commented on #359
Hmm 🤔 got it. The problem is that every time a test fails, the exit code will be 1

https://github.com/scanapi/scanapi/blob/master/scanapi/session.py#L23

The build image should be a separated step. I am not used with the gitlab ci. This is how I implemented using circleci: https://speakerdeck.com/cmaiacd/57o-python-floripa-on-line-como-testar-e-documentar-rest-apis-com-scanapi?slide=33

[2021-04-28 13:09] luizgustavoob commented on #359
Ok, i get it. So I will try to implement it in another way. Thanks @camilamaia :grin:

[2021-04-29 14:31] camilamaia commented on #359
Great @luizgustavoob! I will close this issue, but if you need any help with this again, let me know here and I reopen it, ok? Or also if you want to share later how you did it work :) Thanks!!

[2021-04-29 14:31] #359 closed

[2021-04-29 14:34] camilamaia commented on #353
@leandro-hermes great question. I am working to add this point to the documentation soon. This is the issue if you want to follow it: https://github.com/scanapi/website/issues/38

[2021-04-29 14:37] leandro-hermes commented on #353
Grat! Thanks

[2021-04-30 18:24] camilamaia opened #365 "Add a CODE_OF_CONDUCT.md file"
## Description

Add a CODE_OF_CONDUCT.md file that links to the org's one: https://github.com/scanapi/contributors/blob/master/CODE_OF_CONDUCT.md

[2021-04-30 18:37] #365 closed

[2021-05-03 22:16] camilamaia commented on #353
@leandro-hermes finally I had some time to create the documentation page for it! Please check the page: https://scanapi.dev/docs_v1/configuration/custom_report.html

So, you have to create your jinja2 template, something like "json_template.jinja":

[code]

And then run ScanAPI passing your template in the argument:

[code]

Some others references that might help:

- https://gist.github.com/sevenn

[2021-05-03 22:16] #353 closed

[2021-05-04 16:08] BrunoPontesLira commented on #267
Esta rolando a integração com arquivos Postman?

[2021-05-04 16:15] BrunoPontesLira commented on #265
Hi.
It is already running?

I am trying:

`endpoints:
  - name: Cliente Credentials
    path: https://cloud.ihf
    endpoints:
      - name: GET access_token
        requests:
          - name: credencial
            path: api/oauth/token
            method: POST
            headers: {
              'x-x-correlationID': xxxxxxx,
              'x-x-flowID': xxxxxxxxxx,
              'User-Agent': A

[2021-05-04 16:34] camilamaia commented on #265
@BrunoPontesLira not yet. There is a PR opened for it, but we did not merge it: https://github.com/scanapi/scanapi/pull/328. We need to test it first and ensure it works properly.

[2021-05-04 16:35] camilamaia commented on #267
@BrunoPontesLira no, not yet, unfortunately. It is still an open issue.

[2021-05-17 13:58] camilamaia opened #368 "Update README with new Demo API"
## Description

We need to update the examples in the README.md file that uses demo.scanapi.dev/api/. We've [changed the API](https://github.com/scanapi/demo-api/issues/16) and the doc should reflect that.

Old API: https://demo.scanapi.dev/api/
New API: https://demo.scanapi.dev/

[2021-05-17 19:07] camilamaia opened #369 "Add a command `--version` to return ScanAPI's current version"
## Description

Add a command `--version` to return ScanAPI's current version.

[2021-05-17 19:18] camilamaia opened #370 "Fix `hide_response` `body`"
## Description

[code]

We need to check if http_message has body attribute before accessing it: https://github.com/scanapi/scanapi/blob/master/scanapi/hide_utils.py#L66

request.body exists, but response.body doesn't. For response we need to use response.text or response.content

## Reproducing the error

Spec File:
[code]

Configuration File
[code]

[code]

![image](https://user-images.githubuse

[2021-05-17 19:24] camilamaia opened #371 "Hide response content sensitive info"
## Description

Hide response content sensitive info.

Since body does not exist for responses objects (see [this](https://github.com/scanapi/scanapi/issues/370) for more details), we need a config to hide content fields for a response

[code]

[2021-05-24 21:41] camilamaia opened #373 "Fix github action "Run ScanAPI for Demo API""
# Description
Fix github action "Run ScanAPI for Demo API" that is breaking.
https://github.com/scanapi/scanapi/pull/372/checks?check_run_id=2659668384

[2021-05-24 21:48] #373 closed

[2021-05-26 10:42] Pradhvan opened #376 "Move the community communication channel away from Septrum"
Hello Everyone 👋🏾

Spectrum will become read-only on August 10, 2021.[ Official announcement post](https://spectrum.chat/spectrum/general/join-us-on-our-new-journey~e4ca0386-f15c-4ba8-8184-21cf5fa39cf5).

Since Spectrum would be read-only I suggest moving to some other platform, a dev channel really comes in handy to interact with folks in async. Conversations that aren't fit for Github issues sin

[2021-05-26 10:51] Pradhvan commented on #337
@camilamaia how about [interrogate](https://interrogate.readthedocs.io/en/latest/) ?

[2021-05-26 11:20] Pradhvan commented on #376
Some communities are on discord too so that can be also one of the options to consider. 😄

[2021-05-26 17:30] camilamaia commented on #337
@Pradhvan this seems **exactly** what I was looking for! Perfect!  We could also add it as a check, with github action: https://github.com/marketplace/actions/python-interrogate-check

Amazing! 🚀

[2021-05-26 18:46] Pradhvan commented on #376
That's a great plan @camilamaia ⚡

Though I don't like that much telegram personally as it's a bit less secure i.e when the community grows spammers start to swamp the channel. (Have seen this with local communities here).Plus would be really hard to maintain a strict COC for the telegram channel.
On the other hand. I think we should move to discord that way we don't have to manage two different c

[2021-05-26 18:49] Pradhvan commented on #337
Great 🚀  will create a PR for it tomorrow.

[2021-05-26 18:56] hebertjulio commented on #376
I think the same thing @Pradhvan

[2021-05-26 20:33] camilamaia commented on #376
@Pradhvan you got a point. I agree and I've already created the server: https://discord.gg/sthrWNPn. I will not spread about it now, because I need to properly set up the configuration. :)

[2021-05-27 03:35] Pradhvan commented on #376
@camilamaia this is great. Thank you! ❤️ Looking forward to it.

Do let me know if you need any help with it. Always happy to help. 😄

[2021-05-27 03:39] Pradhvan commented on #376
Closing the issue now that we have finalized on where to move the community platform and how to move it. 🚀

[2021-05-27 03:39] #376 closed

[2021-05-27 11:08] Pradhvan commented on #337
@camilamaia I have excluded `documentation` and `tests` dir for now and set minimum criteria of `80%`

After doing that we are at: `38.8%` should I add create a separate PR for adding docstrings or just update the code with docstrings in this PR? Adding here would be a bit too much to review. 😓

[code]

[2021-05-27 11:35] Pradhvan commented on #337
Since eventually, we would be adding all those missing docstrings. Yay! 🤚🏾

How about we set a format for the docstrings? We can start with adding them to new ones and eventually move the older docstrings to the decided format. What do you think?

I personally use this format:

[code]

[2021-05-27 16:18] Pradhvan opened #377 "Add missing docsting to increase coverage in interrogate"
Before merging #337 we should add missing docstrings so that the entire coverage at least bumps to 80% or more.

The current docstring coverage:

[code]

[2021-05-27 16:20] Pradhvan commented on #377
Since eventually, we would be adding all those missing docstrings. Yay! 🙌🏾

How about we set a format for the docstrings? We can start with adding them to new ones and eventually move the older docstrings to the decided format. What do you think? @camilamaia

I personally use this format:

[code]

[2021-05-27 17:31] Pradhvan commented on #377
Great news! I managed to move the coverage to `98.9%`

[code]

Here are the `pyproject.toml` settings
[code]

For now, I have just added a hacky solution for all the missing docstrings I have added placeholder docstrings.
[code]

Need to now read the code, relace the placeholder docstring and add meaniful docstrings. 🤓

[2021-05-27 18:15] #370 closed

[2021-05-27 18:15] #371 closed

[2021-05-27 18:28] hebertjulio commented on #354
@camilamaia I can try working on this issue. :)

[2021-05-27 18:30] camilamaia commented on #377
@Pradhvan I love the idea of having a pattern for the docstrings! We could add a step into our [First Pull Request
Doc](https://github.com/scanapi/scanapi/wiki/First-Pull-Request) explaining the need of adding docstrings and how to add them. What do you think?

[2021-05-27 18:53] Pradhvan commented on #377
@camilamaia if you agree with the above pattern that I posted. Happy to do a PR tomorrow to add the docstring thing in the doc. 👍🏾

[2021-05-27 19:30] hebertjulio opened #379 "Show on report the scanapi version used to generate it"
After report generated, I seen that scan api version is not shown on anywhere. I think that can be useful to know what scanapi version is running in production.

[2021-05-27 19:45] camilamaia opened #380 "Remove Spectrum Badge from README"
## Description

Remove Spectrum Badge from README. We will not use Spectrum anymore. See #376.

[2021-05-27 19:49] #380 closed

[2021-05-28 08:42] Pradhvan commented on #377
@camilamaia Updated the `Make your change` section in [First Pull Request
Doc](https://github.com/scanapi/scanapi/wiki/First-Pull-Request#7-make-your-changes). Feel free to check it out and edit. 😄

[2021-05-28 11:06] Pradhvan commented on #329
Fixing a commit pattern streamlines a lot of things @marcuxyz and would also help beginners/first-time contributors. We should fix something and add it to the wiki plus the Newcomer's section.

Wiki link: https://github.com/scanapi/scanapi/wiki/First-Pull-Request#7-make-your-changes

[2021-05-28 14:56] hebertjulio commented on #354
Hey @camilamaia, I need someone confirm if request name that should can show is name field in RequestNode class, and also a suggestion how and where request name should be shown on report template.

[2021-05-28 15:38] Pradhvan commented on #377
Did not know earlier going through a new codebase and adding docstrings would be this much of work.

@camilamaia how about I push 2-3 files at a time. Would be easier to review for you too and easier for me to ask questions regarding it. What say?

[2021-05-28 18:14] camilamaia commented on #377
@Pradhvan Thanks for the update in the docs page!

Yes, good idea, split into smaller PRs will make it easier for both you and reviewers! Cool!

[2021-05-28 18:19] Pradhvan commented on #377
Great! Will create a PR tomorrow. 😄

[2021-05-28 18:37] hebertjulio commented on #354
Maybe, as a suggestion, we could show the name of the request in front of the path as openapi.

![empire_nolinks(1)](https://user-images.githubusercontent.com/4763091/120028109-a6f05780-bfca-11eb-9e91-024c48f71160.jpg)

[2021-05-28 19:32] camilamaia commented on #354
@hebertjulio

About which name to show, I can see two possibilities here:
1. [RequestNode name property](https://github.com/scanapi/scanapi/blob/master/scanapi/tree/request_node.py#L70-L72) as you said.
Ex: `my_request_name`
2. We could create a full_name property for `RequestNode`, the same way we have the [TestingNode full_name property](https://github.com/scanapi/scanapi/blob/master/scanapi/tre

[2021-05-28 19:37] camilamaia commented on #329
@marcuxyz @Pradhvan Do you know if is there a way to automate it? We already have an instruction about commits in our wiki, but I honestly always forget about it.

https://github.com/scanapi/scanapi/wiki/First-Pull-Request#9-commit-and-push-your-changes

I think it is super important and maybe a tool would help us here.

[2021-05-28 19:41] camilamaia opened #382 "Create a GitHub issue Template"
## Description

Create a [GitHub issue Template](https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/configuring-issue-templates-for-your-repository).

It would help us to have more info about the issues and also to make it easier to classify them.

I did not think in the content of the template yet. Maybe we could check others open sources projects

[2021-05-28 19:48] camilamaia opened #383 "Create a GitHub PR Template"
## Description

Create a [GitHub PR Template](https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/creating-a-pull-request-template-for-your-repository).

I did not think deeply in the content of the template yet. Maybe we could check others open sources projects to get some reference.

We could have a checklist like:
- [ ] My PR closes an existing op

[2021-05-28 19:53] camilamaia commented on #379
Great idea!! Maybe in the footer, something like this:

![image](https://user-images.githubusercontent.com/2728804/120035603-4286c580-bfd5-11eb-9998-17c5f8bd3ef6.png)

[2021-05-29 08:54] Pradhvan commented on #329
@camilamaia On top of my head I can't seem to remember any tool that checks git commit message. But just to ease up the process I remember you can set commit message templates like [this](https://devtutorial.io/how-to-create-a-template-commit-message-git-p1244.html)

That can help a bit I guess until we find a method to automate the process.

[2021-05-29 12:36] Pradhvan commented on #382
Hi 👋🏾  @camilamaia

Of what I think we can have three templates that a user chooses when clicking the issue

1) Bug report: Submit the bug report
2) Feature request: Any feature that a user wants to see in scanapi
3) How to question: How to do 'x' with scanapi ? This can also be handled on our discord(which will be announced later) server later but having an issue here would make it open for anyon

[2021-05-31 13:12] hebertjulio commented on #354
Hey @camilamaia ,

I think if request name is sufficient to identify it, first option is great, but if isn't, option third option is my choice.

[2021-05-31 19:25] camilamaia commented on #329
@Pradhvan I like this idea! So maybe we can change this issue description to "Create a template commit message". What do you think @marcuxyz @Pradhvan? If you like it, I can update the issue.

[2021-05-31 19:30] camilamaia commented on #382
@Pradhvan I like the suggestions! 💯 !

[2021-05-31 19:45] camilamaia commented on #354
@hebertjulio perfect, let's go with option 1 then.

[2021-06-01 03:53] Pradhvan commented on #329
@camilamaia I like the idea. Just searching a bit on how to use the `commit template` for a particular project rather than having a global commit message template that shows up on every project that has `.git` repot. That might be a bit problematic.

Also, we should give a commit template as an option and always show them to the wiki with the commit message pattern because it would be a bit diffic

[2021-06-01 05:36] Pradhvan commented on #383
@camilamaia how about this?

## Description

## Motivation behind this PR?

## What type of change is this?

## Checklist

- [ ] Added a changelog entry
- [ ] Added unit tests
- [ ] New and existing unit tests pass locally with my changes
- [ ] I have Self-documented code my changes by adding docstring(s) and comment(s).
- [ ] Current PR does not significantly decrease the code coverage and docstr

[2021-06-01 06:27] Pradhvan commented on #319
@morvanabonin are you working on this? Do you need any help?

[2021-06-02 18:45] camilamaia commented on #329
@Pradhvan We could try to automate this part of updating the .git dir and set template with the `make install` command. This way, the user wouldn't need to do anything besides running the install command

[2021-06-02 19:03] camilamaia commented on #383
@Pradhvan I've added some suggestions directly to the pr https://github.com/scanapi/scanapi/pull/387#pullrequestreview-674571933

[2021-06-02 19:08] #382 closed

[2021-06-02 19:09] camilamaia commented on #382
@Pradhvan look, this is so cool!! 🤩

![image](https://user-images.githubusercontent.com/2728804/120538470-eea52380-c3bc-11eb-9d2e-64ac8f88ab62.png)

[2021-06-03 02:31] Pradhvan commented on #329
@camilamaia yes that would solve a lot of problems. 😄

[2021-06-03 13:11] camilamaia commented on #383
Hmmm, weird, I tested it and it seems not working 🤔

https://github.com/scanapi/scanapi/compare/testing?expand=1

[2021-06-03 13:17] Pradhvan commented on #383
@camilamaia let check why it's not working. 😄

[2021-06-03 14:14] #383 closed

[2021-06-03 14:16] camilamaia commented on #383
@Pradhvan it works now! Thank you!!

https://github.com/scanapi/scanapi/compare/testing?expand=1

[2021-06-03 14:28] Pradhvan commented on #376
@camilamaia if the discord channel is open. Should we add a badge for it in the readme of the project ? We can also post that in the footer of the website ?

[2021-06-04 17:54] hebertjulio commented on #329
Hey everyone,

I found this solution that can be helpful to automate commit message lint.

[commitlint-pre-commit-hook](https://github.com/alessandrojcm/commitlint-pre-commit-hook)

[2021-06-06 16:07] morvanabonin commented on #319
Hi @Pradhvan, sorry, no, I'm not working on this task now. I change my job and had to learn Golang instead of Python.
Sorry, @camilamaia @marcuxyz too. 🙇

[2021-06-07 14:47] #379 closed

[2021-06-07 16:26] hebertjulio commented on #354
Hey,

I'm having trouble defining a description of the run() method, the only description that comes to mind is "Run requests" :smile:

https://github.com/scanapi/scanapi/blob/67ac683de32d44355ebc3cdc97f1361c8f2b781b/scanapi/tree/request_node.py#L117

[2021-06-07 16:53] camilamaia opened #389 "Changelog Lint Workflow failed"
## Bug report

### Environment
CircleCI: Linux

### Description of the bug
[Changelog Lint Workflow failed.](https://app.circleci.com/pipelines/github/scanapi/scanapi/780/workflows/6bfafaf3-5d62-4781-9ab0-4a0af8a533eb/jobs/1196)

![image](https://user-images.githubusercontent.com/2728804/121059589-03f0c800-c798-11eb-90b5-92392d9c74f0.png)

### Expected behavior ?
Changelog Lint Workflow passed

[2021-06-07 19:25] camilamaia opened #392 "Error making request when request has no body and there is a `report::hide_request::body` configuration."
## Bug report

### Environment
- Operating System: Mac OS
- ScanAPI version: 2.3.0

### Description of the bug
Error making request when request has no body and there is a `report::hide_request::body` configuration.

[code]

![image](https://user-images.githubusercontent.com/2728804/121076386-bc286b80-c7ac-11eb-9918-908ed4660abc.png)

### Expected behavior ?
Health request to appear in the report

[2021-06-08 14:44] camilamaia commented on #319
@morvanabonin no worries! It is not a problem at all. Thanks for the help so far ❤️

[2021-06-08 14:46] #392 closed

[2021-06-08 14:55] Pradhvan opened #394 "Add a code quality analysis tool"
## Feature request

### Description of the feature

Add a code quality tool as a pre-commit check.

### Is your feature request related to a problem?

No

### Do you have any suggestions on how to add this feature in scanapi ?

Add a config file to the main repo so the analysis can trigger.

[2021-06-08 14:57] camilamaia opened #395 "Apply to Docker Open Source Program"
## Feature request

### Description the feature

Current, we use Docker autobuild to automatically create new Docker images from a github release. But, this service will no longer be free:

[code]

My suggestion is to apply for their [Open Source Program](https://www.docker.com/blog/expanded-support-for-open-source-software-projects/?mkt_tok=OTI5LUZKTC0xNzgAAAF9ingUKwRDMjMLqfj3EqdfW-KT8R0R-cKF-wzK

[2021-06-08 15:13] camilamaia commented on #389
Closed by https://github.com/scanapi/scanapi/pull/391

[2021-06-08 15:13] #389 closed

[2021-06-08 15:16] camilamaia opened #396 "Pytest and Codecov Workflow intermittent failing"
## Bug report

### Environment
CircleCI: Linux

### Description of the bug
Sometimes it fails:
https://github.com/scanapi/scanapi/runs/2775154757
![image](https://user-images.githubusercontent.com/2728804/121211727-18de6180-c853-11eb-9364-167d4561f4b2.png)

Sometimes it passes:
https://github.com/scanapi/scanapi/actions/runs/918618032

### Expected behavior ?
Pytest and Codecov Workflow passed

[2021-06-08 17:09] #394 closed

[2021-06-08 17:23] camilamaia commented on #354
@hebertjulio this description is fine for me haha 👍

[2021-06-08 17:27] camilamaia commented on #329
@hebertjulio thanks for sharing! We could definitely  use it.

[2021-06-08 19:52] hebertjulio commented on #319
Hey @scanapi/core-team

Does anyone have a chain icon to use on this issue.

Thanks.

[2021-06-08 20:24] camilamaia commented on #319
@hebertjulio I've added one to our s3 bucket: https://scanapi.s3.us-east-2.amazonaws.com/assets/images/icons/link.svg

Let me know if you want a different one :)

[2021-06-11 12:42] #354 closed

[2021-06-11 14:55] hebertjulio commented on #267
Hey @scanapi/core-team ,

Just for the sake of knowledge, which postman file should be read to generate the ScanAPI spec.

Thanks.

[2021-06-11 21:23] camilamaia commented on #396
It seems it is working fine again. Probably an internal codecov error.

[2021-06-11 21:23] #396 closed

[2021-06-11 21:25] camilamaia commented on #260
Closed by #317

[2021-06-11 21:25] #260 closed

[2021-06-11 21:40] camilamaia opened #400 "Report CSS breaks with snippet highlight endpoint"
## Bug report

### Environment
- Operating System: MacOS
- ScanAPI version: 2.4.0

### Description of the bug

Report CSS breaks when ScanAPI hits snippet highlight endpoint from Demo API.
![image](https://user-images.githubusercontent.com/2728804/121751178-0b8bd600-cae4-11eb-9586-c7eb4924601d.png)

![image](https://user-images.githubusercontent.com/2728804/121751197-121a4d80-cae4-11eb-9f2e-58c8ed

[2021-06-11 21:50] camilamaia opened #401 "Fix security issues mentioned in static analysis"
## Feature request

### Description of the feature
We want to increase the code quality. We added the DeepSource tool to analyze ScanAPI code. Now, we need to fix the issues DeepSource pointed out: https://deepsource.io/gh/scanapi/scanapi/.

- [ ] Fix security issues: https://deepsource.io/gh/scanapi/scanapi/issues/?category=security

💡  The Issue requires multiple PRs so more than one person can

[2021-06-12 08:11] Pradhvan opened #403 "Fix anti pattern issues mentioned in static analysis"
## Feature request

### Description of the feature

To increase the quality of the project we are using static analysis to find out anti-patterns in the project.

A detailed list of the issues can be found [here](https://deepsource.io/gh/scanapi/scanapi/issues/?category=antipattern)

💡 The Issue requires multiple PRs so more than one person can contribute to the issue.

[2021-06-12 08:15] Pradhvan opened #404 "Fix performance issues mentioned in static analysis"
## Feature request

### Description of the feature

To increase the quality of the project we are using static analysis to report performance issues in the project.

A detailed list of the issues can be found [here](https://deepsource.io/gh/scanapi/scanapi/issues/?category=performance)

💡  The Issue requires multiple PRs so more than one person can contribute to the issue.

[2021-06-12 08:22] Pradhvan opened #405 "Fix style issues mentioned in static analysis"
## Feature request

### Description of the feature

To increase the quality of the project we are using static analysis to find out style issues in the project.

A detailed list of the issues can be found [here](https://deepsource.io/gh/scanapi/scanapi/issues/?category=style)

💡  The Issue requires multiple PRs so more than one person can contribute to the issue.

[2021-06-13 20:11] BrunoPontesLira commented on #267
I think it's the Collections and Environments files.

[2021-06-14 21:03] camilamaia opened #406 "Discord Badge"
## Feature request

### Description the feature
Add a Discord Badge to the README.md file

[2021-06-15 12:18] #406 closed

[2021-06-15 18:34] camilamaia opened #408 "Create a PR on awesome-python adding ScanAPI"
# Description

Create a PR on [awesome-python](https://github.com/vinta/awesome-python) adding ScanAPI https://github.com/vinta/awesome-python

[2021-06-15 19:21] camilamaia commented on #408
https://github.com/vinta/awesome-python/pull/1781

[2021-06-17 03:03] Pradhvan commented on #401
@camilamaia there are a couple of more issues[ here](https://deepsource.io/gh/scanapi/scanapi/issues/?category=security). Let's just open this issue and let other PR reference this.

[2021-06-18 00:20] rafaquelhodev opened #409 "Header table gets broken"
## UX improvement

In the report html, the header table gets broken when we have large texts
![image](https://user-images.githubusercontent.com/48420402/122487045-aa1aaa00-cfb0-11eb-8cf1-7aa1f8428ea3.png)

Perhaps a `td {word-break: break-all}` solves the problem? =) Cheers

[2021-06-21 14:47] camilamaia commented on #376
Done ✅

[2021-06-21 17:53] camilamaia commented on #268
https://github.com/scanapi/scanapi/pull/299#issuecomment-865230271

[2021-06-21 19:10] camilamaia opened #411 "Fix documentation issues mentioned in static analysis"
## Feature request

### Description of the feature

To increase the quality of the project we are using static analysis to find out documentation issues in the project.

A detailed list of the issues can be found [here](https://deepsource.io/gh/scanapi/scanapi/issues/?page=1&analyzer=python&category=doc)

💡  The Issue requires multiple PRs so more than one person can contribute to the issue.

[2021-06-22 13:19] camilamaia opened #412 "(FLK-D210) No whitespaces allowed surrounding docstring text"
## Description
You should avoid spaces at the beginning and at the end of a docstring.

## Occurrences
There are 25 occurrences of this issue in the repository.

See all occurrences on DeepSource &rarr; [deepsource.io/gh/scanapi/scanapi/issue/FLK-D210/occurrences/](https://deepsource.io/gh/scanapi/scanapi/issue/FLK-D210/occurrences/)

Child of #411

[2021-06-22 14:15] #412 closed

[2021-06-22 14:20] camilamaia opened #414 "(PYL-R0201) No use of `self`"
## Description
The method doesn&#x27;t use its bound instance. Decorate this method with `@staticmethod` decorator, so that Python does not have to instantiate a bound method for every instance of this class thereby saving memory and computation. Read more about staticmethods [here](https://docs.python.org/3/library/functions.html#staticmethod).

## Occurrences
There are 177 occurrences of this is

[2021-06-22 14:36] camilamaia opened #416 "(FLK-W505) Doc line too long"
## Description
Docstring line lengths are recommended to be no greater than 79 characters.

## Occurrences
There are 32 occurrences of this issue in the repository.

See all occurrences on DeepSource &rarr; [deepsource.io/gh/scanapi/scanapi/issue/FLK-W505/occurrences/](https://deepsource.io/gh/scanapi/scanapi/issue/FLK-W505/occurrences/)

Child of https://github.com/scanapi/scanapi/issues/405

[2021-06-22 14:52] #414 closed

[2021-06-22 15:08] #416 closed

[2021-06-23 00:32] marcorichetta commented on #208
It seems `curlify` [doesn't support httpx at the moment](https://github.com/ofw/curlify/pull/25), specifically:

I think the best option is to use this enhanced (and updated) version of curlify https://github.com/marcuxyz/curlify2, otherwise it'll be needed to maybe fork (?) curlify or modify it's use inside this project.
https://github.com/scanapi/scanapi/blob/eba2ecd0f1067fee364e472b606a6c54cee2

[2021-06-30 18:13] camilamaia commented on #337
@Pradhvan as far as I understand, with DeepSource we don't need interrogate anymore. Is that right? If yes, I can close this issue and the https://github.com/scanapi/scanapi/issues/377, and we can keep only the https://github.com/scanapi/scanapi/issues/411.

What do you think?

[2021-06-30 18:16] camilamaia commented on #208
@marcorichetta great catch. And in fact we are already using curlify2:

https://github.com/scanapi/scanapi/blob/master/pyproject.toml#L23

Actually, @marcuxyz created this `curlify2` exactly for this reason!

[2021-07-01 06:19] Pradhvan commented on #337
Yup, we can close both of them.

[2021-07-01 06:19] #337 closed

[2021-07-01 06:19] #377 closed

[2021-07-02 21:13] #302 closed

[2021-07-03 21:19] marcorichetta commented on #208
Oh, I read https://github.com/scanapi/scanapi/issues/208#issuecomment-673602067 and thought it was unresolved.

So this issue is already solved by PR https://github.com/scanapi/scanapi/pull/330, right?

[2021-07-04 05:40] Pradhvan commented on #404
Thanks, @hebertjulio for helping out with the issue. Closing the issue now.

[2021-07-04 05:40] #404 closed

[2021-07-05 14:42] camilamaia commented on #208
@marcorichetta yes, exactly, the curl issue was solved. But we are not using `httpx` yet. We are still using `requests`.

[2021-07-05 21:20] hebertjulio commented on #400
Hey @camilamaia ,

When I runned scanapi using the scanapi-400 branch, I receive a HTML code as response.

![Screenshot from 2021-07-05 18-19-51](https://user-images.githubusercontent.com/4763091/124518667-664fdf00-ddbd-11eb-8a09-7944240c2098.png)

[2021-07-05 22:21] camilamaia commented on #400
@hebertjulio 🤔 Which browser are you using?

[2021-07-05 22:31] camilamaia commented on #400
I tested it here again with

- safari Version 14.1.1 (16611.2.7.1.4)
- firefox 89.0.2 (64-bit)
- chrome Version 91.0.4472.114 (Official Build) (x86_64)

and they all have the same behavior I described before.

Would you mind downloading directly this file and trying to open it? https://github.com/scanapi/examples/blob/scanapi-400/demo-api/scanapi-report.html to see what happens.

[2021-07-06 12:19] hebertjulio commented on #400
@camilamaia I am using firefox 89.0.2 (64-bit). I think this is related to the body of response or render of report. I running again and get same result, I can not reproduce it. :thinking:

P.S. When I open your report file I can see CSS breaks.

[2021-07-06 12:59] camilamaia commented on #400
@hebertjulio weird.... which ScanAPI version and Python version are you using? Here is my setup:

[code]

[code]

Let me try to upgrade Python and see what happens

[2021-07-06 13:01] camilamaia commented on #400
With `Python 3.9.0` i got the same scenario as before... 🤔

[2021-07-06 13:02] camilamaia commented on #400
@Pradhvan or @marcuxyz do you have any ideas here? Would you mind trying it too so we can compare?

[2021-07-06 13:03] camilamaia commented on #400
@hebertjulio one idea would be to compare the source code of the two different reports and see what are the differences.

[2021-07-06 18:11] hebertjulio commented on #400
I am running.

`Python 3.9.5`

[code]

`Linux 13499 5.11.20-300.fc34.x86_64 #1 SMP Wed May 12 12:45:10 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux`

With Python 3.6.10, I had been issues with pip and poetry.

:cry:

[2021-07-07 19:20] #268 closed

[2021-07-13 22:45] rodrigondec commented on #395
The Github Packages doesn't work for the project?

It has it's own docker registry, it's free (to a storage limit) for open source repos, and has nice actions to build and push!

Analyzing your images, they're about 50mb. Theoretically 10 versions could be hosted for free. Or a least the `latest` :thinking:

Maybe do a trial run?

## Links
- https://github.com/features/packages
- https://github.co

[2021-07-19 18:29] camilamaia commented on #395
@rodrigondec that is a great possibility, thanks for sharing it! I've just applied to docker open source program, so if we receive a no as an answer, we can definitely try Github Package as a plan B 👍

[2021-07-19 18:30] #395 closed

[2021-07-21 18:20] #214 closed

[2021-07-23 17:18] camilamaia opened #423 "Move `return` statment on _validate for EndpointNode"
## Refactor

### Description the feature
The `return` statement  in this line https://github.com/scanapi/scanapi/blob/main/scanapi/tree/endpoint_node.py#L102
should be after the call `validate_keys` call. The method `validate_keys` has no return. Return is used here to avoid calling `validate_keys` again.

### Do you have any suggestions on how to add this feature in scanapi ?

Something like:

[c

[2021-07-23 17:49] #423 closed

[2021-07-23 19:26] camilamaia opened #426 "Tweet from code"
## Feature request

### Description the feature

To have a repo that tweet for us. We create a file in the repo, and when it is merged, it is automatically tweeted.

Pros:

- more people can tweet as the ScanAPI user
- review/approve of tweets
- no need to share secrets

### Do you have any suggestions on how to add this feature in scanapi ?

We could fork this project or implement something simil

[2021-07-27 20:51] hebertjulio commented on #400
I running again with Python 3.6.10 and take same result. This happen only on iOS? :thinking:

[2021-07-27 21:15] camilamaia commented on #400
Hmmmm, maybe! @barbosa can you give us a hand here? I think you are the only one besides me that is also using macOS. Would you mind trying to reproduce the error, please? Instructions are in the issue description.

[2021-07-28 19:48] camilamaia opened #430 "first-interaction action is not working"
## Bug report

### Environment
- GitHub Actions

### Description of the bug

[First-interaction](https://github.com/scanapi/scanapi/blob/main/.github/workflows/first-interaction.yml) action is not working

### Expected behavior ?

- To comment in the PR
"Thank you for supporting ScanAPI, and congratulations on your first contribution! A project committer will shortly review your contribution.
In t

[2021-07-28 22:46] sleao opened #431 "add type hints to the project"
## Feature request

### Description the feature
I think it would be nice to add type hints to the codebase, as it helps with documentation, catching bugs, and to maintain the whole project.

### Is your feature request related to a problem?
Nope

### Do you have any suggestions on how to add this feature in scanapi ?
Well, you just need to specify the type of every variable/parameter. I would be g

[2021-07-29 05:47] bartvanherck commented on #409
I created a little fix for this issue. I created a new css class and applied it to the right <td> in the tables.

[2021-07-29 06:59] Pradhvan commented on #431
@sleao I like the idea of having type hints. @scanapi/core-team @scanapi/maintainers what do you folks think ?

If everyone agrees let's plan it out and start adding types one file at a time. With `mypy` as a type checker in the CI as well as type checking enabled in `.deepsource.toml` config.

[2021-07-29 12:09] Pradhvan opened #433 "Add unit tests for `test_get_specs.py` and `test_run.py`"
[test_get_specs.py](https://github.com/scanapi/scanapi/blob/main/tests/unit/tree/endpoint_node/test_get_specs.py) and [test_run.py](https://github.com/scanapi/scanapi/blob/main/tests/unit/tree/endpoint_node/test_run.py) both require unit tests which is also being flagged in our [static analysis](https://deepsource.io/gh/scanapi/scanapi/issue/PYL-W0511/occurrences?page=1).

[ScanAPI Writing Tests D

[2021-07-29 12:30] Pradhvan opened #434 "Protected member accessed from outside the `endpoint_node's Class EndpointNode"
Accessing a protected member (a member prefixed with _) of a class from outside that class is not recommended, since the creator of that class did not intend this member to be exposed.

We need to refactor it such that `*(child._get_requests() for child in self.child_nodes)` becomes part of the public interface of the Class EndpointNode.

Link to [code](https://github.com/scanapi/scanapi/blob/main

[2021-07-29 12:43] Pradhvan opened #435 "Remove generic exception and raise a more dedicated exception that isn't very common for Class EndpointNode::run()"
The [run method ](https://github.com/scanapi/scanapi/blob/main/scanapi/tree/endpoint_node.py#L94-L94) in the Class EndpointNode's catches very generic Exception.

We would need to be precise in catching a particular Exception so it is likely to include many unrelated errors too.

[code]

[2021-07-29 13:17] Pradhvan opened #436 "Re-definition found for builtin function `vars()`"
`string_evaluator.py`, `string_evaluator.py`, `spec_evaluator.py` uses `vars` as a function argument.

Since `vars()` is a builtin keyword. It's generally an anti-pattern to not redefine builtin function. We would need to refactor and update the definition.

Static Analysis Issue [Link](https://deepsource.io/gh/scanapi/scanapi/issue/PYL-W0622/occurrences?page=1) to check the particular code line.

[2021-07-29 20:54] hebertjulio commented on #431
I love the idea of having type hints! But I think it is a large change that can results many conflicts. The idea of @Pradhvan of adding types one file at a time reduce conflicts, but add types in all the project is a good too because we resolved it at once.

[2021-07-30 13:08] #409 closed

[2021-07-30 13:33] #368 closed

[2021-07-30 14:31] camilamaia commented on #12
@abreumatheus sorry for the huge delay.

I will dedicate some time only for this ticket in the next months, since it is more complex. I will create a new repo only for it and probably a new plugin architecture, so people can implement their own converter. Like for Postman, Insomnia and so on...

Let me know if you'd like to join this journey haha

I will reassign the issue for me and block it for

[2021-07-30 18:18] camilamaia commented on #265
Actually, the PR #328 does not solve it, my bad. It only makes it possible to create vars at endpoint level. This is still an open issue

[2021-07-30 18:22] camilamaia commented on #267
We decided that we will implement only one official converter: ScanAPI <=> OpenAPI. But, we will create a plugin architecture, so the community will be able to create other converters and use it. Otherwise, it would be too much to maintain many different official converters.

For this reason, I will close this issue, ok?

https://github.com/scanapi/scanapi/issues/12#issuecomment-889932655

[2021-07-30 18:22] #267 closed

[2021-07-30 18:37] camilamaia commented on #303
We decided that we will implement only one official converter: ScanAPI <=> OpenAPI. But, we will create a plugin architecture, so the community will be able to create other converters and use it. Otherwise, it would be too much to maintain many different official converters.

For this reason, I will close this issue

https://github.com/scanapi/scanapi/issues/12#issuecomment-889932655

[2021-07-30 18:37] #303 closed

[2021-07-30 18:50] camilamaia opened #438 "Add a pre-commit hook to check if the commit messages follow the `Conventional Commits`"
## Feature request

### Description the feature

As discussed [here](https://github.com/scanapi/scanapi/issues/329), it is important to have a pattern to out commit messages. But it is also annoying to check if the messages are in the pattern manually. So the idea is to automate this process using [commitlint-pre-commit-hook](https://github.com/alessandrojcm/commitlint-pre-commit-hook) or similar

[2021-07-30 19:04] camilamaia commented on #329
I am going to close this issue since we've agreed we need a pattern and we need to automate this check. So I created a specific issue for it #438

[2021-07-30 19:04] #329 closed

[2021-07-30 19:30] camilamaia commented on #400
Oh, @astenstrasser also uses mac! Can you give us some help here, please? 😇

[2021-07-30 19:36] camilamaia opened #439 "Fix anti-pattern issue PYL-R1705"
Fix anti-pattern issue `Unnecessary else / elif used after return` PYL-R1705: https://deepsource.io/gh/scanapi/scanapi/issue/PYL-R1705/occurrences

![image](https://user-images.githubusercontent.com/2728804/127703396-eb0b4453-891b-492c-82a0-e6aadf61acf6.png)

Child of: https://github.com/scanapi/scanapi/issues/403

[2021-07-30 19:37] camilamaia commented on #439
@sleao I've created a specific issue for the anti-pattern that you are solving at https://github.com/scanapi/scanapi/pull/429

[2021-07-30 19:41] camilamaia opened #440 "Fix anti-pattern issue PYL-R1719"
Fix anti-pattern issue `if expression used can be simplified` PYL-R1719: https://deepsource.io/gh/scanapi/scanapi/issue/PYL-R1719/occurrences

![image](https://user-images.githubusercontent.com/2728804/127703830-82310614-a3e3-4a40-90de-3da149e2986c.png)

Child of: https://github.com/scanapi/scanapi/issues/403

[2021-07-30 19:42] camilamaia commented on #440
@sleao I've created also another issue for other anti-pattern that you are solving at https://github.com/scanapi/scanapi/pull/429. Can you comment something here so I can assign it to you?

[2021-07-30 19:50] camilamaia opened #441 "Add the missing docstrings to the `code_evaluator.py` file"
Add the missing docstrings to the [code_evaluator.py](https://github.com/scanapi/scanapi/blob/main/scanapi/evaluators/code_evaluator.py) file

[Here](https://github.com/scanapi/scanapi/wiki/First-Pull-Request#7-make-your-changes) you can find instructions of how we create the [docstrings](https://www.python.org/dev/peps/pep-0257/#what-is-a-docstring).

Child of https://github.com/scanapi/scanapi/i

[2021-07-30 19:52] camilamaia opened #442 "Add the missing docstrings to the `spec_evaluator.py` file"
Add the missing docstrings to the [spec_evaluator.py](https://github.com/scanapi/scanapi/blob/main/scanapi/evaluators/spec_evaluator.py) file

[Here](https://github.com/scanapi/scanapi/wiki/First-Pull-Request#7-make-your-changes) you can find instructions of how we create the [docstrings](https://www.python.org/dev/peps/pep-0257/#what-is-a-docstring).

Child of https://github.com/scanapi/scanapi/i

[2021-07-30 19:53] camilamaia opened #443 "Add the missing docstrings to the `string_evaluator.py` file"
Add the missing docstrings to the [string_evaluator.py](https://github.com/scanapi/scanapi/blob/main/scanapi/evaluators/string_evaluator.py) file

[Here](https://github.com/scanapi/scanapi/wiki/First-Pull-Request#7-make-your-changes) you can find instructions of how we create the [docstrings](https://www.python.org/dev/peps/pep-0257/#what-is-a-docstring).

Child of https://github.com/scanapi/scana

[2021-07-30 19:55] camilamaia opened #444 "Add the missing docstrings to the `endpoint_node.py` file"
Add the missing docstrings to the [endpoint_node.py](https://github.com/scanapi/scanapi/blob/main/scanapi/tree/endpoint_node.py) file

[Here](https://github.com/scanapi/scanapi/wiki/First-Pull-Request#7-make-your-changes) you can find instructions of how we create the [docstrings](https://www.python.org/dev/peps/pep-0257/#what-is-a-docstring).

Child of https://github.com/scanapi/scanapi/issues/41

[2021-07-30 19:56] camilamaia opened #445 "Add the missing docstrings to the `request_node.py` file"
Add the missing docstrings to the [request_node.py](https://github.com/scanapi/scanapi/blob/main/scanapi/tree/request_node.py) file

[Here](https://github.com/scanapi/scanapi/wiki/First-Pull-Request#7-make-your-changes) you can find instructions of how we create the [docstrings](https://www.python.org/dev/peps/pep-0257/#what-is-a-docstring).

Child of https://github.com/scanapi/scanapi/issues/411

[2021-07-30 19:57] camilamaia opened #446 "Add the missing docstrings to the `testing_node.py` file"
Add the missing docstrings to the [testing_node.py](https://github.com/scanapi/scanapi/blob/main/scanapi/tree/testing_node.py) file

[Here](https://github.com/scanapi/scanapi/wiki/First-Pull-Request#7-make-your-changes) you can find instructions of how we create the [docstrings](https://www.python.org/dev/peps/pep-0257/#what-is-a-docstring).

Child of https://github.com/scanapi/scanapi/issues/411

[2021-07-30 20:03] camilamaia opened #447 "Fix style issue `Doc line too long FLK-W505`"
Fix `Doc line too long  FLK-W505`: https://deepsource.io/gh/scanapi/scanapi/issue/FLK-W505/occurrences

![image](https://user-images.githubusercontent.com/2728804/127705974-4b874dee-1d9d-41f9-b3ee-891a21c021f8.png)

Child of https://github.com/scanapi/scanapi/issues/405

[2021-07-30 20:06] camilamaia opened #448 "Fix style issue `Inconsistent return statements PYL-R1710`"
Fix style issue `Inconsistent return statements  PYL-R1710`: https://deepsource.io/gh/scanapi/scanapi/issue/PYL-R1710/occurrences

![image](https://user-images.githubusercontent.com/2728804/127706151-52032eab-34ef-4c1e-b2cc-74ec44c70678.png)

![image](https://user-images.githubusercontent.com/2728804/127706210-599bdc3c-f7fc-4078-a42a-4ab6021e2363.png)

Child of https://github.com/scanapi/scanapi/i

[2021-07-30 20:13] camilamaia opened #449 "Add instructions of how to create commit messages"
Add detailed instructions of how to create commit messages:

https://github.com/scanapi/scanapi/wiki/First-Pull-Request#9-commit-and-push-your-changes

[2021-07-30 20:15] camilamaia opened #450 "Add instructions of how to squash commits"
Add detailed instructions explaining:

- why it is important to squash commits
- step-by-step of how to squash the commits
- when it is necessary to squash the commits

https://github.com/scanapi/scanapi/wiki/First-Pull-Request#9-commit-and-push-your-changes

[2021-07-30 20:19] camilamaia opened #451 "Add `I have squashed my commits` to the PRs template checklist"
Add `I have squashed my commits` to the [PRs template checklist](https://github.com/scanapi/scanapi/blob/main/.github/pull_request_template.md#checklist). Also, add to the message a link to the wiki page where we explain how to do it (#450 )

[2021-07-30 20:20] camilamaia opened #452 "Add an issue template for refactor/code quality"
Add an [issue template](https://github.com/scanapi/scanapi/tree/main/.github/ISSUE_TEMPLATE) specific for refactor/code quality

[2021-07-30 20:29] camilamaia opened #453 "First PR invite automation"
## Feature request

### Description the feature

Following our [contributing guidelines](https://github.com/scanapi/contributors/blob/main/CONTRIBUTING.md#ownership), every time a person gets a merged Pull Request, regardless of content (typos, code, doc fixes), they are invited to be part of the ScanAPI organization at GitHub.

This is how we do it:

1. We sent a message in the PR informing we wi

[2021-07-30 20:36] camilamaia opened #454 "(FLK-D200) One-line docstring should fit on one line with quotes"
## Description
If a docstring fits in a single line (72 character according to PEP8), it is recommended to have the quotes on the same line.

## Occurrences
There is 1 occurrence of this issue in the repository.

See all occurrences on DeepSource &rarr; [deepsource.io/gh/scanapi/scanapi/issue/FLK-D200/occurrences/](https://deepsource.io/gh/scanapi/scanapi/issue/FLK-D200/occurrences/)

[2021-07-30 20:38] #403 closed

[2021-07-30 20:38] camilamaia commented on #439
Closed by https://github.com/scanapi/scanapi/pull/429

[2021-07-30 20:38] #439 closed

[2021-07-30 20:38] camilamaia commented on #440
Closed by https://github.com/scanapi/scanapi/pull/429

[2021-07-30 20:38] #440 closed

[2021-07-30 21:58] djs-djs commented on #447
I will assist with this issue--thanks!

[2021-07-30 22:01] djs-djs commented on #446
I will assist with this issue--thanks!

[2021-07-31 06:03] djs-djs commented on #454
I will assist with this issue--thank you!

[2021-07-31 06:29] Pradhvan commented on #454
Sure, go ahead @djs-djs 😄

[2021-07-31 07:57] jhermann commented on #436
Can do, question would be are those signatures part of the public API, i.e. can they be changed without complications like a deprecation shim?

[2021-07-31 08:57] jhermann opened #455 "Possibly broken super() call"
## Bug report

### Environment
LGTM analysis

### Description of the bug
First argument to super() is not enclosing class
→ https://lgtm.com/projects/g/scanapi/scanapi/snapshot/975eee8439217318dce6c39d70c1d700d6f33bd6/files/scanapi/settings.py?sort=name&dir=ASC&mode=heatmap#xb5202bf2b059205b:1

### Expected behavior?
Rewrite this to just `super()...`.

[2021-07-31 09:02] jhermann commented on #450
For now, the easy way out is to use GH's mode selection (squash or not) when merging the PR.

[2021-07-31 11:13] Stannislav opened #457 "Fix typing in `config_loader`"
## Bug report

### Environment
- Operating System: macOS Big Sur
- Python version: 3.7

### Description of the bug
Mypy static checking was integrated in #456. The `scanapi.config_loader` already has type annotations, but they don't pass the mypy checks.

From what I can see these errors actually point to ways this module could be improved. For example
[code]
tells us that we should check that the

[2021-07-31 11:13] shippo16 commented on #434
It's not really invoked from outside the class is it?

child._get_requests() is being called from the initial ._get_requests() call, which makes it a recursive call.. The protected method in this case is only being called from the same protected method itself (in the same class).

Maybe you can leave it as it is..

[2021-07-31 11:16] Stannislav opened #458 "Add `mypy` to the CI"
## Feature request
`mypy` static checks were added in #456. Now `mypy` should be made part of the CI.

[2021-07-31 11:17] Stannislav commented on #431
- PR for adding `mypy`: #456
- Follow-up: fix `mypy` errors in `config_loader`: #457
- Follow-up: add `mypy` to the CI: #458

[2021-07-31 12:55] jhermann commented on #242
Just as a note, the more common subdir is `docs`.

And a nice feature to have is starting a `sphinx-autobuild` demon so any change in your editor triggers a rebuild and then a reload in your browser.

[2021-07-31 13:01] jhermann commented on #242
If you go with RTD, the relevant docs is [Incoming Webhooks and Automation — Read the Docs 5.21.0 documentation](https://docs.readthedocs.io/en/stable/webhooks.html) and is almost effortless usually.

`docs.scanapi.dev` could be added as a CNAME for the RTD domain.

[2021-07-31 13:31] Pradhvan commented on #242
I agree with @jhermann let's go with Read The Docs with Furo Theme that [urlib3](https://urllib3.readthedocs.io/en/stable/) uses.

Yes, this would make sense.

[2021-07-31 15:53] #454 closed

[2021-07-31 16:21] camilamaia commented on #431
I need to say that I don't have experience with type hints. So I want to honestly ask for you that have more XP with it:

- Is it going to make it much harder for new members to contribute? People that do not have huge XP with Python or type hints?

If we decide to go with it, I think we should have, **before we implement it**, pretty clear documentation of:
- How to use type hints
- When to use t

[2021-07-31 16:34] camilamaia commented on #450
@Pradhvan can you point out here why squashing manually is better than using the GitHub user interface?

[2021-07-31 16:40] camilamaia commented on #242
💯 agreed:

- Read The Docs + Furo Theme
- docs.scanapi.dev CNAME for the RTD domain

I can set the CNAME once we have all configured for the RTD domain.

@jhermann do you want to go ahead and do the setup of the RTD?

[2021-07-31 16:44] camilamaia commented on #434
I agree with @shippo16. +1 to ignore this issue on DeepSource. What do you think @Pradhvan ?

[2021-07-31 16:47] jhermann commented on #436
Also, what should the new name be, obvious candidates are `vars_` (ugly, already used at one place) and `spec_vars`.

[2021-07-31 16:47] camilamaia commented on #436
@jfollmann you can change all occurrences of "vars" and it will not affect the final user, don't worry!

[2021-07-31 16:49] camilamaia commented on #436
What do you think about `spec_vars`?

[2021-07-31 17:04] sleao commented on #431
I'm not an expert and don't know all the pros and cons of using type hints, but, I believe it actually makes it easier for new members to contribute.

First of all, it's optional, if you declare some function using type hints and decide to ignore every other function, it will work, because it doesn't change anything at runtime. It actually helps because, when calling a function or instantiating (i

[2021-07-31 17:28] camilamaia opened #464 "make change-version: create a readable PEP440-compatible dev version"
## Feature request

### Description the feature

Make "make change-version" useful again by keeping the current release version, and adding a human readable and PEP440 compliant timestamp to it

[2021-07-31 17:34] #464 closed

[2021-07-31 18:01] Pradhvan commented on #242
I can work on this too. RTD is something I have been wanting to try out. 😄

[2021-07-31 18:02] Pradhvan commented on #436
+1 for `spec_vars`

[2021-07-31 18:32] barbosa commented on #400
Hey @camilamaia - not sure if I understand what is broken. Is it the background that was supposed to be grey but it is white instead?

[2021-07-31 20:57] jhermann commented on #242
@Pradhvan we can do this together tomorrow, especially regarding using the right RTD account (yours or Camila's).

Also, I wonder what's in documentation right now – API docs only? If yes, the option to switch to my normal Sphinx setup would be feasible and has some advantages regarding many conveniences already built in.
→ https://github.com/Springerle/py-generic-project/tree/master/%7B%7Bcookiec

[2021-08-01 05:17] Stannislav commented on #431
I pretty much agree with what @sleao said.

I think the most important point is that it's optional and nothing should break / fail if new code doesn't have any typing at all.

There's a "strict" mode in `mypy` where types are required, but it's not on by default.

In #456 it's definitely configured to be optional. Maybe double check the settings in `.mypy.ini` to make sure you're happy with them.

[2021-08-01 07:41] jhermann opened #465 "UX / CLI: add a --browse option"
## Feature request

### Description the feature
Add a `--browse` /  `-b` option to the CLI to open the report in the browser instead of just printing where it is, to improve UX.

### Do you have any suggestions on how to add this feature in scanapi ?
Add the option, and in an `if` put a `webbrowser.open_new_tab` call below the existing logging call.

[2021-08-01 12:36] sijanonly commented on #441
I will be working on it.

[2021-08-01 12:51] camilamaia commented on #242
@Pradhvan, @jhermann
I did the RTD setup: https://scanapi.readthedocs.io/en/latest/. It is still not rendering as expected 🤔  many docstrings are not there. Like, [hide_utils](https://github.com/scanapi/scanapi/blob/main/scanapi/hide_utils.py)  for example.

@jhermann It would be nice to have the docs of all docstrings, from all methods/classes. Public and private I guess. I love your cookiecutter

[2021-08-01 13:07] hebertjulio opened #467 "Invalid version in poetry build"
## Bug report

### Environment
- Operating System: Linux
- Python version: 3.6.10

### Description of the bug

Invalid version on poetry build.

### Expected behavior ?

Building files generated.

### How to reproduce the the bug ?

make change-version
poetry build

### Anthing else we need to know?

https://github.com/python-poetry/poetry/issues/2524#issuecomment-670828043
https://www.python.org/

[2021-08-01 13:10] jhermann commented on #242
OK, I'll work on a replacement -- things like hidden symbols should be handled, because I already have these things in conf.py. Will not be ready today, but likely in the course of next week.

[2021-08-01 13:32] camilamaia commented on #242
@jhermann awesome! I will create a new issue for it and close this one, ok? Since this is pretty much done.

[2021-08-01 13:45] camilamaia opened #469 "Improve Read The Docs"
## Feature request

### Description the feature

We are now publishing our sphinx doc at Read The Docs: https://scanapi.readthedocs.io. But, it still needs some improvements. Some docstrings are not showing up, like [hide_utils](https://github.com/scanapi/scanapi/blob/main/scanapi/hide_utils.py) for example. Also, the structure is not clean an easy to navigate.

### Do you have any suggestions on

[2021-08-01 13:47] camilamaia commented on #242
@jhermann here is the new issue: https://github.com/scanapi/scanapi/issues/469

Would mind sending a comment there saying you want to work on it so I can assign it to you?

[2021-08-01 13:47] #242 closed

[2021-08-01 13:50] jhermann commented on #436
Final review + merge pending.

[2021-08-01 14:09] #436 closed

[2021-08-01 14:17] camilamaia commented on #400
Yes, exactly.

When you run locally, how is the background for you? And also, the content of the highlight response is an html code or is it the code block rendered?

Is it like this?

![image](https://user-images.githubusercontent.com/2728804/127774148-3df53c5c-dbfa-414b-ad22-f85059456737.png)

or like that?

![image](https://user-images.githubusercontent.com/2728804/127774175-8fcea148-fd9e-4373-

[2021-08-01 14:27] #457 closed

[2021-08-01 14:33] #467 closed

[2021-08-01 14:41] camilamaia opened #472 "Add type hints documentation"
## Description

We introduced type hints to the project: https://github.com/scanapi/scanapi/issues/431 and for that we need a clear documentation for it at https://github.com/scanapi/scanapi/blob/main/wiki/First-Pull-Request.md

Add:
- instructions of how to use type hints - see [PEP484](https://peps.python.org/pep-0484/)
- instructions of when to use type hints - see [PEP484](https://peps.python.

[2021-08-01 14:42] camilamaia commented on #431
@sleao @Stannislav thanks for the detailed answers! That makes sense to me, let's do it 💪

I love the part of having "Good first issue" issues for adding type annotations to existing code. And we can use these examples @sleao pointed out in the docs too!

Here is the ticket for the documentation: https://github.com/scanapi/scanapi/issues/472

Thank you all!

[2021-08-01 14:51] camilamaia opened #473 "Labels are not being applied when creating feature/bug/how-to issues"
## Bug report

### Description of the bug

Labels are not being applied when creating feature/bug/how-to issues. This started happening after we renamed the labels - capitalizing the words.

### Expected behavior ?

Creating a new issue and github automatically adds `Needs Triage` label, `Bug` label...

### How to reproduce the the bug ?

Create a new issue and see that no label will be automatica

[2021-08-01 14:54] camilamaia opened #474 "Move Wiki to Read The Docs"
## Feature request

### Description the feature

Move Wiki to Read The Docs. To have everything in a single place. It should be easier for contributors.

We need to wait for #469 to be done first.

[2021-08-01 15:11] #473 closed

[2021-08-01 15:44] jhermann commented on #469
We can still switch to the theme I think @camilamaia mentioned somewhere (can you repeat that here please?).

https://sphinx-book-theme.readthedocs.io/ is worth consideration too.

Also, some of the wiki pages (e.g. contributor getting started) should be moved into the docs.

[2021-08-01 17:41] jhermann commented on #469
[![](https://i.imgur.com/WnGBXYAm.jpg)](https://i.imgur.com/WnGBXYA.png)

[2021-08-01 17:53] jhermann commented on #469
@camilamaia this what you missed?

[![](https://i.imgur.com/wTvuyHim.jpg)](https://i.imgur.com/wTvuyHi.png)

[2021-08-01 18:36] GitVitor opened #478 "Change tests summary report location"
## Feature request

### Description the feature
Current the tests summary is located at the end of report, generally a summary should be located at the start of a document to provide a clearly overview.

### Is your feature request related to a problem?
No

### Do you have any suggestions on how to add this feature in scanapi ?
An easy way to fix this is just change the order of rendered elements

[2021-08-02 03:29] Pradhvan commented on #469
It was [Furo](https://pradyunsg.me/furo/) theme

I agree

[2021-08-02 03:30] Pradhvan commented on #458
@Stannislav would you want to take this next ?

[2021-08-02 20:13] #447 closed

[2021-08-02 21:09] camilamaia commented on #469
@jhermann I've updated the issue description with your suggestions! Thanks. Let me know if something else is missing, please

[2021-08-02 21:11] camilamaia commented on #469
Yessss! Where did you find it? 😂  I can't find anything in the current docs haha

![image](https://user-images.githubusercontent.com/2728804/127924243-8ac2f2cd-4d00-4e89-84bf-0a4fefaaac73.png)

![image](https://user-images.githubusercontent.com/2728804/127924277-fb03c224-98ef-47e2-9504-93d5e35cbee9.png)

Where are the docstings? ahhaha

[2021-08-02 21:20] camilamaia opened #480 "(BAN-B101) Assert statement used outside of tests"
## Description
Usage of `assert` statement in application logic is discouraged. `assert` is removed with compiling to optimized byte code. Consider raising an exception instead. Ideally, `assert` statement should be used only in tests.

## Occurrences
There is 1 occurrence of this issue in the repository.

See all occurrences on DeepSource &rarr; [deepsource.io/gh/scanapi/scanapi/issue/BAN-B101/oc

[2021-08-02 21:46] LoremIpsum42 commented on #433
I have a question regarding the function _get_specs. Inside this function you are merging two dictionaries. This merging does work for "parameter" and "headers" since in this scenario the keys are different most of the time between parent and node. However, for all the other attributes this function doesn't merge the two dictionaries into one, because the key is always the same. Is this intended?

[2021-08-03 02:57] jhermann commented on #469
This is in a branch and not ready for primetime yet.

[2021-08-03 11:19] Stannislav commented on #458
Sure, I can take that one once #456 is merged.

[2021-08-03 12:26] #431 closed

[2021-08-03 13:02] camilamaia opened #481 "Fix changelog lint "Error: Resource not accessible by integration""
## Bug report

### Environment
CI

### Description of the bug

Fix changelog lint "Error: Resource not accessible by integration"

Example:

![image](https://user-images.githubusercontent.com/2728804/128019363-30771553-886b-457c-b593-b616e78e404a.png)
https://github.com/scanapi/scanapi/pull/471/checks?check_run_id=3230841936

### Expected behavior ?

Job runs successfully

### How to reproduce the

[2021-08-03 13:13] #480 closed

[2021-08-03 14:18] #441 closed

[2021-08-03 15:07] #478 closed

[2021-08-08 16:25] Stannislav commented on #458
I just checked and the GitHub workflow in `lint.yaml` already runs `make check`, which also runs `mypy`.

So is there any other action required?

This workflow runs only on pull-requests, but not on master.

[2021-08-08 16:36] Stannislav commented on #481
Reading through #139 - is there anything wrong with creating a new GitHub actions workflow that runs `diff -u <(changelog fmt -f CHANGELOG.md) CHANGELOG.md`?

[2021-08-08 18:21] rafaquelhodev commented on #433
Hi guys, I've just raised a PR for this issue! Cheers =)

[2021-08-09 16:26] hebertjulio commented on #438
Hey @camilamaia @Pradhvan ,

What do you think if we use [gitlint](https://jorisroovers.com/gitlint/) instead [commitlint-pre-commit-hook](https://github.com/alessandrojcm/commitlint-pre-commit-hook).

Because gitlint is write in python and it is not need install node packages to run.

[2021-08-09 18:27] #433 closed

[2021-08-09 18:34] camilamaia commented on #481
@Stannislav I believe this is also an option. A good one, actually! We would just need to install the lib "directly" in the github action, since it does not have a proper github action for it now.

[2021-08-09 18:38] camilamaia commented on #438
@hebertjulio it works for me! It also has a way to use with pre-commit: https://jorisroovers.com/gitlint/#using-gitlint-through-pre-commit, cool 👍

[2021-08-09 18:59] camilamaia opened #484 "Add unit tests for the `__repr__` method of the EndpointNode class"
## Unit Test

### Description

Add unit tests for the `__repr__` method of the **EndpointNode** class: https://github.com/scanapi/scanapi/blob/main/scanapi/tree/endpoint_node.py#L55

[ScanAPI Writing Tests Documentation](https://github.com/scanapi/scanapi/wiki/Writing-Tests)

[2021-08-09 19:00] camilamaia opened #485 "Add unit tests for the `__repr__` method of the RequestNode class"
## Unit Test

### Description

Add unit tests for the `__repr__` method of the **RequestNode** class: https://github.com/scanapi/scanapi/blob/main/scanapi/tree/request_node.py#L57

[ScanAPI Writing Tests Documentation](https://github.com/scanapi/scanapi/wiki/Writing-Tests)

[2021-08-09 19:05] camilamaia opened #486 "Add unit tests for the `__repr__` method of the SpecEvaluator class"
## Unit Test

### Description

Add unit tests for the `__repr__` method of the **SpecEvaluator** class: https://github.com/scanapi/scanapi/blob/main/scanapi/evaluators/spec_evaluator.py#L42

[ScanAPI Writing Tests Documentation](https://github.com/scanapi/scanapi/wiki/Writing-Tests)

[2021-08-09 19:17] camilamaia opened #488 "Remove `if not matches:` from StringEvaluator"
## Refactor

### Description
Remove unuseful lines:

- https://github.com/scanapi/scanapi/blob/main/scanapi/evaluators/string_evaluator.py#L27-L28
- https://github.com/scanapi/scanapi/blob/main/scanapi/evaluators/string_evaluator.py#L27-L28

`matches` variable is an `callable_iterator object`, so it will never be null. We can remove the check, since when there is no match with the pattern, it will

[2021-08-09 19:40] camilamaia opened #490 "Enable `lint` action to also run on pushes to the main branch"
## Feature request

### Description of the feature

Enable `lint` action to also run on pushes to the main branch. Currently, it is only running in the PRs:

https://github.com/scanapi/scanapi/blob/main/.github/workflows/lint.yml#L1

Enable it to **also** run on pushes to the main branch.

Example:

https://github.com/scanapi/scanapi/blob/main/.github/workflows/publish-to-test-pypi.yml#L2-L4

[2021-08-09 19:53] camilamaia commented on #458
@Stannislav you are right! It is already checking. I created a new issue to enable lint on the main branch too, good idea.

https://github.com/scanapi/scanapi/issues/490

[2021-08-09 19:53] #458 closed

[2021-08-09 19:55] camilamaia opened #491 "Enable `run examples` action to also run on pushes to the main branch"
## Feature request

### Description of the feature

Enable `run examples` action to also run on pushes to the main branch. Currently, it is only running in the PRs:

https://github.com/scanapi/scanapi/blob/main/.github/workflows/run-examples.yml#L1

Enable it to **also** run on pushes to the main branch.

Example:

https://github.com/scanapi/scanapi/blob/main/.github/workflows/publish-to-test-pypi

[2021-08-10 10:33] LoremIpsum42 commented on #484
Hi, I have added a PR for this unit test.

[2021-08-10 11:35] #451 closed

[2021-08-10 12:50] #488 closed

[2021-08-10 13:33] #430 closed

[2021-08-10 14:15] #484 closed

[2021-08-10 15:10] rafaquelhodev commented on #485
I've just raised a PR for this one!

[2021-08-11 13:49] #438 closed

[2021-08-11 13:53] #485 closed

[2021-08-11 16:51] #455 closed

[2021-08-12 13:52] renato04 commented on #465
I'd like to do that.

[2021-08-12 14:23] Pradhvan commented on #465
@renato04 great! Thank you 😄

[2021-08-13 20:34] renato04 opened #497 "Show test result summary in the console"
## Feature request

### Description the feature
Show the test result summary in the console and return a status process error.
The objective is if I put the Scan API on a pipeline this pipeline has to be stopped if there is an error.

### Is your feature request related to a problem?
No.

### Do you have any suggestions on how to add this feature in scanapi ?
No.

[2021-08-14 01:50] Pradhvan commented on #497
@rafaquelhodev we do have a [GitHub Action](https://github.com/scanapi/github-action) for scanapi. I am not sure how something similar can be done for any other CI.

@camilamaia any thoughts ?

For the console part I guess it would be really nice if we can use [rich](https://github.com/willmcgugan/rich) to have similar report shown in the terminal. Though I am not sure how much comprehensive repor

[2021-08-14 02:35] renato04 commented on #497
@Pradhvan I think for comprehension it can show just the summary like this:
Run: 3 tests Passed 2 Failed 1
Some information about the error
Return -1 as system code
Stop the execution

What do you think about it?

[2021-08-14 05:33] Pradhvan commented on #497
@renato04 yes, something like this. Should we make two console outputs?

* one where the entire report is shown with a pretty looking console output using rich. This can be a separate CLI flag too like the browser one.
* Second would be the one that you mentioned and would be specifically for CI pipelines, does not have to be pretty just need to show the info that you share above

[code]

[2021-08-14 06:41] renato04 commented on #497
@Pradhvan it can has two output types.
I think each of them should have their own issue.

[2021-08-14 07:11] Pradhvan commented on #497
@renato04 yes, that's what I was suggesting. 😄

Waiting for @scanapi/core-team @scanapi/maintainers to reply on what these folks think.

[2021-08-16 15:15] #465 closed

[2021-08-18 23:15] GitVitor opened #498 "Group requests by parent endpoint"
## Feature request

### Description the feature
I thought that the report HTML could group requests by endpoint;

Using [httpbin](https://github.com/scanapi/examples/tree/main/httpbin-api) example.
There we find multiples endpoints, http-methods and images;
![image](https://user-images.githubusercontent.com/15002664/129981670-402b4bc7-b0f7-4f82-8045-657716899034.png)

Maybe the report HTML could t

[2021-08-19 17:00] GitVitor commented on #426
It seems good, any progress about it?
Maybe i could help with this.

[2021-08-19 19:28] camilamaia commented on #497
Hey!

I like the idea of the feature, thanks @renato04! Definitely we need it when the `-nr, --no-report` flag is passed. But I think without the flag would also be cool. Maybe something like: "this is the summary, if you want to check the full report, open the file ..."

This already happens. If ScanAPI is added to a pipeline and any test fails, it will break the pipeline. This happens because we

[2021-08-19 19:36] camilamaia commented on #498
Hey @GitVitor I love the idea and I think it is extremely useful! Specially when the API has lots of requests and endpoints.

Some points that crossed my mind:

- What happens when the spec has a [nested endpoint](https://scanapi.dev/tutorials/step08.html)? Are we going to have one collapse inside another?
- Do you think an option to have a "flat" report is needed. I mean, a flat report would be a

[2021-08-19 19:39] camilamaia commented on #161
@GitVitor check this issue here! It might help you with the new changes on the report 🎨

[2021-08-20 00:05] rafaquelhodev commented on #486
Hi all! I've just raised a PR for this one.

[2021-08-20 19:14] camilamaia commented on #426
@GitVitor No progress yet. I've assigned it to you! Let me know if you need any help :)

[2021-08-20 19:18] #486 closed

[2021-08-20 19:19] GitVitor commented on #426
Okay thanks Camila, i have two other issues in progress.
After there i start this new one 👍

[2021-08-21 01:49] GitVitor commented on #498
@camilamaia thanks to answer.

I thought that is not a good experience collapse one inside another; Maybe all requests could be at the same level.

I'm not sure if a really understand what do you mean with that. Basically it's an option in .yaml file? Then if it's true, the Reporter provide a flat report without any collapse option?
Maybe we could provide this option in HTML, where the user choose

[2021-08-21 02:29] GitVitor commented on #161
@camilamaia thanks, i had never seen this ADR before;

Just to document, i had some thoughts about how we could improve our UI;

Below a list with some changes that i have work:

1. Change P(assed) or F(ailed) icon;
2. Change font-family to use [Gotham](https://www.cdnfonts.com/gotham.font);
3. Use diferent colors to represent each HTTP Method (Image 1);
4. Make request content, request response a

[2021-08-21 02:35] GitVitor commented on #161
Based on comments that was sent here, maybe we could apply following changes:

1. Change P(assed) or F(ailed) icon;
2. Change font-family to use Gotham;
~Use diferent colors to represent each HTTP Method;~
~Make request content, request response and request test visually grouped;~
3. Change Green to use the following hex #48c78e;
4. Change Red to use the following hex #f14668;

[2021-08-22 21:57] Stannislav opened #501 "python -m scanapi doesn't work as intended"
## Bug report
ScanAPI includes a `__main__.py` file suggesting that it can be run as a module via `python -m scanapi`, but it doesn't seem to work properly:
[code]

### Environment
- Operating System: macOS
- Python version: 3.7

### Expected behavior ?
I'm not sure about the original intended behaviour, but maybe it should just run the same CLI as the entry point?

I think an advantage of this wo

[2021-08-23 13:39] camilamaia opened #502 "Apply to 1Password for Open Source Projects"
## Feature request

### Description of the feature

Apply to 1Password for Open Source Projects: https://github.com/1Password/1password-teams-open-source

### Is your feature request related to a problem?

Hard to share login/password safety with other team members. We currently use Bitwarden, but it is up to 2 members.

### Do you have any suggestions on how to add this feature in scanapi ?

http

[2021-08-23 18:17] Stannislav commented on #450
In my experience squashing all commits in a PR is not really necessary as long as the "Squash and Merge" option is used to merge into main.

I just saw that "Squash and Merge" is the only option that's enabled in this repo anyway, so isn't squashing the commits manually kind of redundant?

Here's an example of a popular repository where the opposite policy holds: never squash / force-push on PR br

[2021-08-24 17:46] renato04 commented on #497
Hey @camilamaia !

I didn't know that. It's awesome.

I think this will be great.

@Pradhvan  What do you think about it?

[2021-08-25 20:54] camilamaia opened #503 "--browse option does not work on MacOS"
## Bug report

### Environment
- Operating System: MacOS
- Python version: 3.9.0
- ScanAPI version: main, unreleased

### Description of the bug

`--browser` CLI flag does not open the browser automatically.

https://github.com/scanapi/scanapi/pull/496/

### Expected behavior?

Open the report automatically in the browser

### How to reproduce the bug?

Run `scan run -b` using a MacOS.

### Anythi

[2021-08-27 14:50] #503 closed, assigned to Stannislav

[2021-08-29 20:37] gabrieltron commented on #444
Hey! Just stumbled on this project and I'd love to help out, may I start working in this issue? I saw #431, I can also start introducing typing if that's ok, since it'll help on the documentation.

[2021-08-30 07:14] Pradhvan commented on #444
Thank You, @gabrieltron feel free to pick this up. types can be an altogether different PR. 😄

[2021-08-30 08:31] jhermann commented on #469
Sorry, was busy with other things. Yes, it works (for me), must release some stuff for a merge.

[2021-09-01 13:48] Pradhvan commented on #469
@jhermann cool! looking forward to it. 😄

[2021-09-04 23:29] gabrieltron commented on #265
I'd like to work on this issue, but since it's a non-simple change I'd like to discuss if you already have an intended approach to solve this problem. I was reading through the [yaml specification](https://yaml.org/spec/1.2/) and it says keys don't have a specific order. Considering that, we couldn't just run request nodes without ordering them. The way I'm thinking to approach the issue is buildi

[2021-09-12 17:34] gabrieltron commented on #265
Ok, I admit that the first suggestion was the first thought without deeply studying the code hahaha
After doing that, I have a suggestion that I believe better fits with the tree-like structure, and it is much simpler. Looking forward for your feedback :D

[2021-09-17 21:11] camilamaia opened #508 "Custom variable not being evaluated when defined in the same request"
## Bug report

### Environment
ScanAPI version: 2.6.0

### Description of the bug

When the custom var is defined and used in the same request, it is not being evaluated.

### How to reproduce the bug ?

[code]

![image](https://user-images.githubusercontent.com/2728804/133853630-f4a30a49-d832-4da4-81eb-65e0e4c5813a.png)

### Expected behavior?

![image](https://user-images.githubusercontent.com/2

[2021-09-20 06:35] Agent-Hellboy commented on #448
I have some questions here as a beginner.
https://github.com/scanapi/scanapi/blob/204e73aa17e1d5c1d7672de41c69dc3ddcdc0b19/scanapi/template_render.py#L26-L26
Is  `request.body.decode()`  is able to handle the corrupted file or is it the case that HTTPS protocol itself is able to handle it?
Do we need to check the filetype returned by header.get using the filetype module of python?

[2021-09-20 11:06] kurianbenoy commented on #442
I am looking to work on this issue.

[2021-09-20 12:07] Pradhvan commented on #442
@kurianbenoy great! Assigned you the issue. 😄

[2021-09-20 14:14] marcuxyz opened #510 "what do you think of use ward for test runner?"
### Environment
- Operating System: Linux
- Python version: 3.9

### What you intend to do with scanapi ?

I was thinking that we should use [ward](https://github.com/darrenburns/ward) test library. Because:

- work fine with expect module
- beautiful output verbose logs
- less verbose logs
- and easily maintain, because, not need create name for each test function.

sample:

[code]

See output lo

[2021-09-23 01:21] gabrieltron opened #511 "Github actions is failing due to new Python 3.6 minor release"
## Bug report

### Environment
- Operating System: Running in github actions
- Python version: 3.6.14

### Description of the bug
Python 3.6.15 [was released recently](https://www.python.org/doc/versions/). setup-python supports only the latest minor version, according to [this comment](https://github.com/actions/setup-python/issues/64#issuecomment-594837888). This is causing the executions of git

[2021-09-23 13:02] shifqu opened #512 "Using comprehensions in assert statements causes a NameError"
## Bug report

### Environment
- Operating System: MacOS 11.5.2 (Also tested on Win10)
- Python version: 3.9.6 (Also tested with 3.7.11)

### Description of the bug
Whenever you use a comprehension in the code that is passed to `CodeEvaluator._assert_code`, a NameError will be raised (`NameError: name 'response' is not defined`).

### Expected behavior ?
It would be expected that the eval command

[2021-09-23 17:48] Stannislav commented on #511
Seems like the culprit is this line: https://github.com/scanapi/scanapi/blob/204e73aa17e1d5c1d7672de41c69dc3ddcdc0b19/.github/workflows/lint.yml#L10

would it work to replace it by
[code]
?

[2021-09-23 23:40] gabrieltron commented on #511
I think so. I'm going to assign myself to this, if that's ok, and do a little experimenting

[2021-09-24 13:23] JRubics commented on #491
Hey, can I take this one for the Hacktoberfest?

[2021-09-24 13:24] JRubics commented on #490
Hey, can I take this one for the Hacktoberfest? :)

[2021-09-24 13:26] JRubics commented on #453
Hey, can I take this one for the Hacktoberfest too? :)

[2021-09-24 20:19] #511 closed

[2021-09-26 20:57] patrickelectric opened #514 "Add hacktoberfest topic on the repository"
It would be nice to have the topic for next month

[2021-09-28 10:35] gagandeepp commented on #426
@camilamaia Interested in this one

[2021-09-28 15:06] Saransh-cpp commented on #405
Hi @Pradhvan, can I take this up under hacktoberfest?

[2021-09-28 15:20] Pradhvan commented on #514
@patrickelectric hey 👋🏾 I am not sure we would be participating in the Hacktoberfest this year. Since there a very few maintainers and core devs who help review PR(most of them are a bit busy at the moment).

Plus, sometimes Hacktoberfest creates more noise than actual participation from folks which is a bit overwhelming for folks who maintain it. But I would be happy to help you out if you are in

[2021-09-28 15:24] Pradhvan commented on #405
Hey @Saransh-cpp  👋🏾 I am not sure we would be participating in the Hacktoberfest this year. Since there a very few maintainers and core devs who help review PR(most of them are a bit busy at the moment).

Plus, sometimes Hacktoberfest creates more noise than actual participation from folks which is a bit overwhelming for folks who maintain it.

Though feel free to take this issue if you are inter

[2021-09-28 15:55] JPTIZ commented on #514
I understand the situation agree that depending on the team size and time it is sometimes good to refrain from participating of Hacktoberfest.

We're from a student organization that organized a schedule to participate on Hacktoberfest for a few interesting projects, and this one is one we're aiming to contribute. In that case, would adding `hacktoberfest-accepted` to specific Pull Requests be fea

[2021-09-28 15:59] Saransh-cpp commented on #405
No problem! I just saw that #509 fixes one of the errors. I'll create a PR for the redundant `pass` statements.

[2021-09-30 13:43] Blackdevilkl opened #516 "Something went wrong"
## Bug report

### Environment
- Operating System:
- Python version:

### Description of the bug

### Expected behavior ?

### How to reproduce the the bug ?

### Anthing else we need to know?

[2021-10-02 09:37] Pradhvan commented on #516
@Blackdevilkl Hey! I guess you forgot to fill in the report. Closing this for now. Feel free to open it.

[2021-10-02 09:37] #516 closed

[2021-10-02 09:53] Pradhvan commented on #514
Hey @JPTIZ 👋🏾

I am open to adding `hacktoberfest-accepted` labels on certain issues. Do you have any of those issues in mind that you or folks participating would be interested in ?

Though seeing the problems I mentioned I am not sure how much mentorship I can provide in tackling those issues. But if you have certain pre-decided issues that folks can independently work on or something like and `

[2021-10-02 17:42] JPTIZ commented on #514
@Pradhvan Hello! Thanks for the response! No need to say sorry, we have an entire month :)

Taking a quick look at the issues, I find some quite interesting for us to work on (e.g. #501 and #472). We might discuss here internally, but I think there's room for us to first analyse (the issues are explained very clearly, so we could comment when we do not fully understand one that seems very good to

[2021-10-04 07:35] Pradhvan commented on #514
@JPTIZ I would say #501 would be a good starting point. For the whole adding types to the project and documentation towards it, I would say to wait a bit and maybe pick that up later.  So maybe you #452 can be a swap for that. 😄

[2021-10-06 15:08] Pradhvan commented on #491
@JRubics all yours. 😄

[2021-10-31 22:09] deividfortuna commented on #300
Looks like I'm having a similar issue '"having double quoting"' in the body, how did you work around this @zimbres?

[2021-11-22 20:25] BrayanMota opened #521 "How do I pass a POST request using Content-Type: application / x-www-form-urlencoded"
### Environment
- Operating System: Ubuntu 20.04.3 LTS
- Python version: 3.8.10

### What you intend to do with scanapi ?
Studies
I was trying to implement the scan api with a mini authentication project using FastAPI:

[code]

In this project, to authenticate, I'm using a feature of FastAPI and OAuth2, OAuth2PasswordRequestForm, in it I authenticate to access the dependent endpoints in my project

[2022-02-01 12:53] leonardomaier commented on #445
Hi everyone, I've already created a PR resolving this issue [here](https://github.com/scanapi/scanapi/pull/522)

[2022-02-02 12:04] leonardomaier commented on #443
Done in [PR](https://github.com/scanapi/scanapi/pull/523) 😃

[2022-02-02 12:16] leonardomaier opened #524 "Fix typos in ```code_evaluator.py```"
File: [code_evaluator.py](https://github.com/scanapi/scanapi/blob/main/scanapi/evaluators/code_evaluator.py)

We need to replace the all occurrences of ```evalution``` to ```evaluation``` in this file

[2022-02-02 12:38] leonardomaier opened #525 "Fix typos in ```spec_evaluator.py```"
File: [spec_evaluator.py](https://github.com/scanapi/scanapi/blob/main/scanapi/evaluators/spec_evaluator.py#L72)

[code]

Update docstring typo in the classmethod `Returns a copy pf` -> `Returns a copy of`

[2022-02-02 16:30] Pradhvan commented on #443
@leonardomaier thank you for the PR. Left a comment in the PR. 🖐🏾

[2022-02-02 16:40] Pradhvan commented on #525
@leonardomaier thank you for opening the issue. I just updated the issue. I hope you don't mind. 😄

[2022-02-02 16:41] Pradhvan commented on #514
Closing this issue now. We can plan better for the next hacktoberfest.

[2022-02-02 16:41] #514 closed

[2022-02-02 17:24] leonardomaier commented on #525
No problem, it looks a way better, I'm gonna update another issue I've create to follow this pattern 😄

[2022-02-03 10:14] leonardomaier commented on #442
@kurianbenoy hey, how is the issue going?

[2022-02-03 10:38] leonardomaier commented on #524
Done in #526 😉

[2022-02-03 10:50] leonardomaier commented on #525
Done in #527 😉

[2022-02-03 13:13] leonardomaier commented on #508
@camilamaia @Pradhvan I'm currently working on this, could you assign it to me please?

[2022-02-03 13:16] Pradhvan commented on #508
Done! Thanks for picking this up @leonardomaier 😄

[2022-02-03 13:32] #525 closed

[2022-02-03 13:48] #443 closed

[2022-02-03 17:44] leonardomaier commented on #508
@Pradhvan I have some questions about some specific cases, for example, let's suppose that we've set up a YAML file like this:

[code]

Currently, it would result in:

[code]

Which I think it's not the right output because when requesting the ```/eldenring``` endpoint we already have the same variables declared in that scope, then the right behaviour would be adopting  appending ```/three&four```

[2022-02-15 18:55] viniciusbatistazup commented on #521
.. same problem..

[code]

My body convert type to **binary** .. i need  **x-www-form-urlencoded'** as explicit in my headers

[2022-02-18 13:49] #524 closed

[2022-02-23 02:33] kurianbenoy commented on #442
@leonardomaier I had raised a PR, not sure about its status now. If someone is working you can unassign me from this issue.

[2022-03-02 13:58] LuanComputacao opened #528 "Cannot import name 'soft_unicode' from 'markupsafe'"
## Bug report

### Environment
- Operating System: LInux
- Python version: 3.10.2

### Description of the bug
[code]

### Expected behaviour?
Print the scanapi version

### How to reproduce the bug?
* install Python 3.10.2
* install scanapi
* run `$ scanapi --version`

### Anything else we need to know?

[2022-03-04 11:40] leonardomaier commented on #528
Looks like the issue is due to upgrade to `MarkupSafe:2.1.0` where they have removed soft_unicode.

Release note: https://markupsafe.palletsprojects.com/en/2.1.x/changes/#version-2-1-0

[2022-03-18 14:52] samueltcsantos opened #529 "There are some option to set verify=False to requests?"
### Environment
- Operating System: Linux Xubuntu 16.04
- Python version: 3.6

### What you intend to do with scanapi ?
A  want make a request to web server running locally with HTTPS enabled, but I need some way to make requests dont verify SSL.

I need something like that?
requests.post(url='https://example.com', data={'bar':'baz'}, verify=False)

### Expected behavior ?

There are some option f